{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "IMN marketplace API- DEV",
    "description": "# The REST API of IMN system\n## Overview\nThe REST APIs provide programmatic access to read and write IMN data. \nBasically, with this API you will be able to do everything like you were with your browser on https://go.imn.io !\n\nThe main features are:\n- Register and manage your account\n- Create and manage and share your stores with your friends/co-workers.\n- Import your product catalog and schedule the auto importation\n- Search the channels your want to use\n- Configure your channels for your catalogs to export your product information:\n    - cost and general settings\n    - category and columns mappings\n    - your will be able to create and manage your custom column\n    - put in place exlusion filters based on simple conditions on your product data\n    - override product values\n    - get product vision for a channel catalog scope\n- Analyze and optimize your performance of your catalogs on all yours channels with different type of reportings by day, channel, category and by product.\n- Automatize your optimisation by using rules!\n- And of course... Manage your orders harvested from all your marketplaces:\n    - Synchronize your orders in an uniformized way\n    - Get the available actions and update the order status\n- ...and more!\n\n## Authentication credentials\nTBD\n\n## Things to keep in mind\n### API Rate Limits\n- The IMN REST API is limited to 100 calls/minute.\n\n### Media type\nThe default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.\n\n### Required content type\nThe required and default encoding for the request and responses is UTF8.\n\n### Required date time format\nAll our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.\n\n### Base URL\nThe Base URL of the IMN API Order Management REST API conforms to the following template.\n\nhttps://api.imn.io\n\nAll URLs returned by the IMN API are relative to this base URL, and all requests to the REST API must use this base URL template.\n\nYou can test our API on https://api-docs.imn.io/swagger-ui\\\nYou can contact us on [gitter, #IMN/API](https://gitter.im/IMN/API)\n",
    "x-logo": {
      "url": "https://imngo.blob.core.windows.net/imngo/images/imn-logo.png",
      "backgroundColor": "#FFFFFF"
    },
    "contact": {
      "email": "support@imn.io"
    },
    "license": {
      "name": "IMN",
      "url": "https://go.imn.io"
    }
  },
  "host": "api.imn.io",
  "x-IMN-api-ops": {
    "codeGenType": "webapi",
    "repo": "IMN",
    "appRoot": "IMN.MKP.MER.WebService",
    "apiName": "MarketplaceMerchantsV1",
    "namespace": "IMN.MKP.MER.WebService",
    "useBeezUPFrameworkVersion2": true,
    "comment": "No change. Just server side generation.\n",
    "using": [
      "IMN.Schemas",
      "IMN.MER.Schemas",
      "IMN.MER.Exceptions"
    ]
  },
  "x-basePath": "/marketplace/merchants/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Marketplace - Merchants API - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Marketplace - Merchants API - Merchants",
      "x-displayName": "Merchants"
    },
    {
      "name": "Marketplace - Merchants API - Api Credentials",
      "x-displayName": "Api Credentials"
    },
    {
      "name": "Marketplace - Merchants API - Subscription",
      "x-displayName": "Subscription"
    },
    {
      "name": "Marketplace - Merchants API - Marketplace Merchant Code",
      "x-displayName": "Marketplace Merchant Code"
    },
    {
      "name": "Marketplaces - Orders - DRAFT - Batches",
      "description": "All batch operations on Orders to reduce call rate",
      "x-displayName": "Batches"
    }
  ],
  "paths": {
    "/marketplace/merchants/v1/{marketplaceCode}": {
      "get": {
        "tags": [
          "Marketplace - Merchants API - Global"
        ],
        "summary": "Get marketplace index in the merchants API",
        "operationId": "GetMarketplaceMerchantApiIndex",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Marketplace Merchant Api Index",
            "schema": {
              "$ref": "#/definitions/marketplaceMerchantApiIndex"
            }
          },
          "404": {
            "$ref": "#/responses/marketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/incoming": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Merchants"
        ],
        "summary": "Get the list of incoming merchants related to a marketplace",
        "operationId": "GetIncomingMerchantList",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/pageSizeQueryStringParameter"
          },
          {
            "$ref": "#/parameters/pageNumberQueryStringParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/incomingMerchantListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/incomingMerchantList"
            }
          },
          "404": {
            "$ref": "#/responses/marketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/incoming/{merchantCode}": {
      "get": {
        "tags": [
          "Marketplace - Merchants API - Merchants"
        ],
        "summary": "Get the incoming merchant",
        "operationId": "GetIncomingMerchantIndex",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The incoming merchant index",
            "schema": {
              "$ref": "#/definitions/incomingMerchantIndex"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/outgoing": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Merchants"
        ],
        "summary": "Get the list of outgoing merchants related to a marketplace",
        "operationId": "GetOutgoingMerchantList",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/pageSizeQueryStringParameter"
          },
          {
            "$ref": "#/parameters/pageNumberQueryStringParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/outgoingMerchantListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outgoingMerchantList"
            }
          },
          "404": {
            "$ref": "#/responses/marketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/outgoing/{merchantCode}": {
      "get": {
        "tags": [
          "Marketplace - Merchants API - Merchants"
        ],
        "summary": "Get the outgoing merchant",
        "operationId": "GetOutgoingMerchantIndex",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The outgoing merchant index",
            "schema": {
              "$ref": "#/definitions/outgoingMerchantIndex"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/{merchantCode}/apiCredential": {
      "get": {
        "tags": [
          "Marketplace - Merchants API - Api Credentials"
        ],
        "summary": "Get the merchant API credential",
        "operationId": "GetMerchantApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant API credential",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Marketplace - Merchants API - Api Credentials"
        ],
        "summary": "Save the marketplace API credential",
        "operationId": "SaveMerchantApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "credential",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant API credentials saved"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/invalidMarketplaceCredential"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/{merchantCode}/subscription/accept": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Subscription"
        ],
        "summary": "Accept a merchant subscription to a marketplace",
        "operationId": "AcceptMerchantSubscription",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant subscription accepted"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/{merchantCode}/subscription/decline": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Subscription"
        ],
        "summary": "Decline a merchant subscription to a marketplace",
        "operationId": "DeclineMerchantSubscription",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "reason",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/merchantMarketplaceSubscriptionRefusalReason"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant subscription declined"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/{merchantCode}/subscription/block": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Subscription"
        ],
        "summary": "Block a merchant subscription to the marketplace",
        "operationId": "BlockMerchantSubscription",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "reason",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/merchantMarketplaceSubscriptionRefusalReason"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant subscription blocked"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/{merchantCode}/configureMarketplaceMerchantCode": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Marketplace Merchant Code"
        ],
        "summary": "Configure marketplace merchant code",
        "operationId": "ConfigureMarketplaceMerchantCode",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "marketplaceMerchantCode",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceMerchantCode"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Marketplace merchant code configured"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/orders/v1/{marketplaceCode}/{merchantCode}/events": {
      "post": {
        "tags": [
          "Marketplaces - Orders - DRAFT - Batches"
        ],
        "operationId": "PushMerchantOrdersEvents",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/batchMerchantMarketplaceOrderChanges"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant orders changes have been saved!"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    }
  },
  "definitions": {
    "marketplaceMerchantApiIndexLinks": {
      "type": "object",
      "required": [
        "incoming",
        "outgoing"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetMarketplaceMerchantApiIndexLink"
        },
        "incoming": {
          "$ref": "#/definitions/links.GetIncomingMerchantListLink"
        },
        "outgoing": {
          "$ref": "#/definitions/links.GetOutgoingMerchantListLink"
        }
      }
    },
    "marketplaceMerchantApiIndex": {
      "type": "object",
      "required": [
        "links"
      ],
      "properties": {
        "links": {
          "$ref": "#/definitions/marketplaceMerchantApiIndexLinks"
        }
      }
    },
    "merchantListOrderBy": {
      "type": "object",
      "required": [
        "propertyName"
      ],
      "properties": {
        "propertyName": {
          "$ref": "#/definitions/merchantListOrderByOn"
        },
        "sort": {
          "$ref": "#/definitions/sort"
        }
      }
    },
    "incomingMerchantListRequest": {
      "type": "object",
      "properties": {
        "orderBy": {
          "$ref": "#/definitions/merchantListOrderBy"
        },
        "searchCompanyName": {
          "type": "string",
          "description": "Search merchants by company name",
          "example": "Literie"
        },
        "searchMerchantCode": {
          "type": "string",
          "description": "Search merchants by the code",
          "example": "MLT"
        },
        "searchMarketplaceMerchantCode": {
          "type": "string",
          "description": "Search merchants bymarketplace MerchantCode",
          "example": 50041
        },
        "searchContactEmail": {
          "type": "string",
          "description": "Search merchants by contact Email",
          "example": "contact@ma-boutique-en-ligne.com"
        },
        "searchContactName": {
          "type": "string",
          "description": "Search merchants by the contact name",
          "example": "Johnson"
        },
        "searchContactPhone": {
          "type": "string",
          "description": "Search merchants by the ContactPhone",
          "example": "+33711223344"
        },
        "filterSubscriptionRequestUtcDateFrom": {
          "type": "string",
          "format": "date-time",
          "description": "filter merchants From beginning subscription request date"
        },
        "filterSubscriptionRequestUtcDateTo": {
          "type": "string",
          "format": "date-time",
          "description": "filter merchants by subscription request date"
        },
        "filterCountry": {
          "type": "string",
          "description": "filter merchants by country code",
          "example": "FRA"
        },
        "filterSourceMarketplaceCode": {
          "type": "string",
          "description": "filter merchants by Source MarketplaceCode",
          "example": "C1"
        },
        "filterCredentialStatus": {
          "$ref": "#/definitions/marketplaceCredentialStatus"
        },
        "filterSubscriptionStatus": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "filterofferPublicationStatus": {
          "$ref": "#/definitions/marketplaceOfferPublicationStatus"
        }
      }
    },
    "outgoingMerchantListRequest": {
      "type": "object",
      "properties": {
        "orderBy": {
          "$ref": "#/definitions/merchantListOrderBy"
        },
        "searchCompanyName": {
          "type": "string",
          "description": "Search merchants by the company name",
          "example": "Literie"
        },
        "searchMerchantCode": {
          "type": "string",
          "description": "Search merchants by the code",
          "example": "MLT"
        },
        "searchMarketplaceMerchantCode": {
          "type": "string",
          "description": "Search merchants by the marketplaceMerchantCode",
          "example": 50041
        },
        "searchContactEmail": {
          "type": "string",
          "description": "Search merchants by the contactEmail",
          "example": "contact@ma-boutique-en-ligne.com"
        },
        "searchContactName": {
          "type": "string",
          "description": "Search merchants by the contact name",
          "example": "Johnson"
        },
        "searchContactPhone": {
          "type": "string",
          "description": "Search merchants by the ContactPhone",
          "example": "+33711223344"
        },
        "filterCreationUtcDateFrom": {
          "type": "string",
          "format": "date-time",
          "description": "filter merchants by From beginning creation date"
        },
        "filterCreationUtcDateTo": {
          "type": "string",
          "format": "date-time",
          "description": "filter merchants by to ending creation date"
        },
        "filterCountry": {
          "type": "string",
          "description": "filter merchants by country code",
          "example": "FRA"
        },
        "filterSubscriptionStatus": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "filterofferPublicationStatus": {
          "$ref": "#/definitions/marketplaceOfferPublicationStatus"
        }
      }
    },
    "incomingMerchantList": {
      "type": "object",
      "required": [
        "links"
      ],
      "properties": {
        "links": {
          "$ref": "#/definitions/incomingMerchantListLinks"
        },
        "merchants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/incomingMerchantIndex"
          }
        },
        "paginationResult": {
          "$ref": "#/definitions/paginationResult"
        }
      }
    },
    "outgoingMerchantList": {
      "type": "object",
      "required": [
        "links"
      ],
      "properties": {
        "links": {
          "$ref": "#/definitions/outgoingMerchantListLinks"
        },
        "merchants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/outgoingMerchantIndex"
          }
        },
        "paginationResult": {
          "$ref": "#/definitions/paginationResult"
        }
      }
    },
    "links.GetMerchantApiCredentialLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetMerchantIndexLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetIncomingMerchantIndexLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetOutgoingMerchantIndexLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.AcceptMerchantSubscriptionLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.DeclineMerchantSubscriptionLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.BlockMerchantSubscriptionLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetMarketplaceMerchantApiIndexLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetIncomingMerchantListLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetOutgoingMerchantListLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "incomingMerchantInfoLinks": {
      "type": "object",
      "required": [
        "self",
        "apiCredential"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetIncomingMerchantIndexLink"
        },
        "apiCredential": {
          "$ref": "#/definitions/links.GetMerchantApiCredentialLink"
        },
        "acceptSubscription": {
          "$ref": "#/definitions/links.AcceptMerchantSubscriptionLink"
        },
        "declineSubscription": {
          "$ref": "#/definitions/links.DeclineMerchantSubscriptionLink"
        },
        "blockSubscription": {
          "$ref": "#/definitions/links.BlockMerchantSubscriptionLink"
        }
      }
    },
    "incomingMerchantListLinks": {
      "type": "object",
      "required": [
        "self"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetIncomingMerchantListLink"
        }
      }
    },
    "outgoingMerchantListLinks": {
      "type": "object",
      "required": [
        "self"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetOutgoingMerchantListLink"
        }
      }
    },
    "outgoingMerchantInfoLinks": {
      "type": "object",
      "required": [
        "self",
        "apiCredential"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetOutgoingMerchantIndexLink"
        },
        "apiCredential": {
          "$ref": "#/definitions/links.GetMerchantApiCredentialLink"
        }
      }
    },
    "incomingMerchantIndex": {
      "type": "object",
      "required": [
        "info",
        "links"
      ],
      "properties": {
        "info": {
          "$ref": "#/definitions/incomingMerchantInfo"
        },
        "links": {
          "$ref": "#/definitions/incomingMerchantInfoLinks"
        }
      }
    },
    "outgoingMerchantIndex": {
      "type": "object",
      "required": [
        "info",
        "links"
      ],
      "properties": {
        "info": {
          "$ref": "#/definitions/outgoingMerchantInfo"
        },
        "links": {
          "$ref": "#/definitions/outgoingMerchantInfoLinks"
        }
      }
    },
    "merchantInfo": {
      "type": "object",
      "required": [
        "code",
        "email",
        "companyName",
        "country",
        "firstName",
        "lastName",
        "phoneNumber",
        "creationUtcDate"
      ],
      "properties": {
        "code": {
          "$ref": "#/definitions/merchantCode"
        },
        "email": {
          "$ref": "#/definitions/email"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "creationUtcDate": {
          "type": "string",
          "format": "date-time"
        },
        "importedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "Imported offer count from the source marketpalce"
        }
      }
    },
    "merchantTargetMarketplaceInfo": {
      "type": "object",
      "required": [
        "subscriptionRequestUtcDate",
        "subscriptionStatus",
        "credentialStatus",
        "shippingSettingsStatus",
        "offerPublicationStatusd",
        "targetMarketplaceCode"
      ],
      "properties": {
        "subscriptionRequestUtcDate": {
          "type": "string",
          "format": "date-time",
          "description": "date the merchant pushed his registration to the marketplace (through SF)"
        },
        "subscriptionStatus": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "credentialStatus": {
          "$ref": "#/definitions/marketplaceCredentialStatus"
        },
        "shippingSettingsStatus": {
          "$ref": "#/definitions/marketplaceShippingSettingsStatus"
        },
        "offerPublicationStatus": {
          "$ref": "#/definitions/marketplaceOfferPublicationStatus"
        },
        "publishedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "Effective offer count published to the target marketplace"
        },
        "publishableOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "Publishable offer count to the target marketplace"
        },
        "targetMarketplaceCode": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "targetMarketplaceMerchantCode": {
          "$ref": "#/definitions/marketplaceMerchantCode"
        }
      }
    },
    "incomingMerchantInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/merchantInfo"
        },
        {
          "$ref": "#/definitions/merchantTargetMarketplaceInfo"
        },
        {
          "type": "object",
          "required": [
            "code",
            "email",
            "companyName",
            "firstName",
            "lastName",
            "phoneNumber",
            "sourceMarketplaceCode",
            "creationUtcDate",
            "subscriptionRequestUtcDate",
            "subscriptionStatus",
            "credentialStatus",
            "shippingSettingsStatus",
            "offerPublicationStatus"
          ],
          "properties": {
            "sourceMarketplaceCode": {
              "$ref": "#/definitions/marketplaceCode"
            },
            "orderCount": {
              "type": "integer",
              "format": "int32",
              "example": 102
            },
            "turnOver": {
              "type": "number",
              "format": "decimal",
              "example": 10602.23
            },
            "currencyCode": {
              "$ref": "#/definitions/currencyCode"
            },
            "subscriptionHistory": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/marketplaceSubcriptionReporting"
              }
            }
          }
        }
      ]
    },
    "marketplaceSubcriptionReporting": {
      "type": "object",
      "required": [
        "senderEmail",
        "utcDate",
        "status"
      ],
      "properties": {
        "senderEmail": {
          "$ref": "#/definitions/email"
        },
        "utcDate": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "outgoingMerchantInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/merchantInfo"
        },
        {
          "type": "object",
          "required": [
            "code",
            "email",
            "companyName",
            "firstName",
            "lastName",
            "phoneNumber",
            "sourceMarketplaceCode",
            "creationUtcDate"
          ],
          "properties": {
            "sourceMarketplaceCode": {
              "$ref": "#/definitions/marketplaceCode"
            },
            "sourceMarketplaceMerchantCode": {
              "$ref": "#/definitions/marketplaceMerchantCode"
            },
            "targetMarketplaces": {
              "type": "object",
              "description": "The key is the marketplace code",
              "additionalProperties": {
                "$ref": "#/definitions/merchantTargetMarketplaceInfo"
              }
            }
          }
        }
      ]
    },
    "merchantListOrderByOn": {
      "type": "string",
      "description": "Indicates on which property you want to order by the list of merchant",
      "default": "modificationUtcDate",
      "enum": [
        "merchantCode",
        "creationUtcDate",
        "modificationUtcDate"
      ]
    },
    "batchMerchantMarketplaceOrderChanges": {
      "x-format": "Message",
      "type": "object",
      "description": "Contains all changes for one marketplace for one merchant",
      "properties": {
        "created": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/orderMarketplaceInfo"
          }
        },
        "updated": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/orderMarketplaceInfo"
          }
        },
        "deleted": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/orderIdentifier"
          }
        }
      }
    },
    "orderChangeEventBase": {
      "x-exclude": true,
      "type": "object",
      "required": [
        "order",
        "userId",
        "userName"
      ],
      "properties": {
        "order": {
          "$ref": "#/definitions/orderIdentifier"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "userName": {
          "$ref": "#/definitions/orderChangeUserName"
        }
      }
    },
    "orderAccepted": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        }
      ]
    },
    "orderRefused": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        }
      ]
    },
    "orderShipped": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "carrierCode",
            "trackingNumber"
          ],
          "properties": {
            "carrierCode": {
              "$ref": "#/definitions/carrierCode"
            },
            "trackingNumber": {
              "$ref": "#/definitions/trackingNumber"
            }
          }
        }
      ]
    },
    "orderShippedWithTrackingUrl": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "carrierName",
            "trackingNumber",
            "trackingUrl"
          ],
          "properties": {
            "carrierName": {
              "$ref": "#/definitions/carrierName"
            },
            "trackingNumber": {
              "$ref": "#/definitions/trackingNumber"
            },
            "trackingUrl": {
              "$ref": "#/definitions/trackingUrl"
            }
          }
        }
      ]
    },
    "orderRefunded": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "refundReason"
          ],
          "properties": {
            "order": {
              "$ref": "#/definitions/orderIdentifier"
            },
            "refundReason": {
              "$ref": "#/definitions/refundReason"
            }
          }
        }
      ]
    },
    "orderCancelled": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "cancellationReason"
          ],
          "properties": {
            "cancellationReason": {
              "$ref": "#/definitions/cancellationReason"
            }
          }
        }
      ]
    },
    "imnOrderStatus": {
      "type": "string",
      "description": "IMN order status. Unified for all marketplaces.",
      "example": "Shipped",
      "x-lov": "IMNOrderState"
    },
    "marketplaceOrderStatus": {
      "description": "The marketplace order state",
      "type": "string",
      "example": "In_progress_3"
    },
    "marketplaceOrderId": {
      "description": "The order marketplace identifier",
      "type": "string",
      "example": "CDISCOUNT12345"
    },
    "imnOrderId": {
      "description": "The IMN Order identifier",
      "type": "string",
      "example": "A0CD3FG",
      "pattern": "^([A-Z|0-9]){7}$",
      "x-pattern": "^([A-Z|0-9]){7}$"
    },
    "orderChangeUserName": {
      "type": "string",
      "description": "The name of the user who did the order change"
    },
    "merchantOrderId": {
      "description": "The order merchant identifier",
      "type": "string",
      "example": "MyOrderMerchantId"
    },
    "merchantECommerceSoftwareName": {
      "description": "The e-commerce software name of the merchant",
      "type": "string",
      "example": "Prestashop"
    },
    "merchantECommerceSoftwareVersion": {
      "description": "The e-commece software version of the merchant",
      "type": "string",
      "example": "123.0.1"
    },
    "orderDateSearchType": {
      "description": "Indicates on which date you want to make the filter",
      "type": "string",
      "enum": [
        "Modification",
        "Purchase",
        "MarketPlaceModification"
      ],
      "default": "Modification"
    },
    "orderEtag": {
      "description": "ETag value to identify the order.\\\nThis information is required for the operation GetOrder and ChangeOrder.\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n",
      "type": "string",
      "example": "\"ca071a4580129f932a03971968ffef69\""
    },
    "orderProcessing": {
      "description": "If true, there is currently a harvest or an order change in progress. Otherwise false.",
      "type": "boolean",
      "example": false
    },
    "orderIdentifier": {
      "type": "object",
      "required": [
        "marketplaceCode",
        "merchantCode",
        "imnOrderId"
      ],
      "properties": {
        "marketplaceCode": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "imnOrderId": {
          "$ref": "#/definitions/imnOrderId"
        }
      }
    },
    "carrierName": {
      "type": "string",
      "description": "The carrier name related to the shipping",
      "example": "My special carrier name"
    },
    "trackingUrl": {
      "type": "string",
      "description": "The tracking url related to the shipping",
      "example": "https://trackingpackage.com?number=1H01845163783"
    },
    "trackingNumber": {
      "type": "string",
      "description": "The shipper tracking number related to the shipping",
      "example": "1H01845163783"
    },
    "carrierCode": {
      "type": "string",
      "example": "MondialRelay",
      "description": "The carrier code related to the shipping\n* DeutschePost: DeutschePost\n* DHL: DHL\n* GLS: GLS\n* TNT: TNT\n* UPS: UPS\n* DPD: DPD\n* FEDEX: FEDEX\n* 4PX: 4PX\n* Bpost: Bpost\n* ChinaEMSePacket: China EMS (ePacket)\n* ChinaPost: China Post\n* Chronopost: Chronopost\n* CNEExpress: CNE Express\n* ColisPrive: Colis PrivÃ©\n* Colissimo: Colissimo\n* GEODIS: GEODIS\n* LaPosteCourrier: La Poste - Courrier\n* MalaysiaPost: Malaysia Post\n* MondialRelay: Mondial Relay\n* PostNL: PostNL\n* RelaisColis: Relais Colis\n* RoyalMail: Royal Mail\n* SFExpress: SF Express\n* SFCService: SFC Service\n* SingaporePost: Singapore Post\n* USPS: USPS\n* Yanwen: Yanwen\n* AMATI: AMATI\n* BRTID: BRTID\n* BRTRIFMIT: BRTRIFMIT\n* BRTSPED: BRTSPED\n* CORREOS: CORREOS\n* ENERGO: ENERGO\n* FERCAM: FERCAM\n* NEXIVE: NEXIVE\n* ItalianPost: Italian Post\n* SDA: SDA\n* SGTFlyer: SGT Flyer\n* TECNOTRANS: TECNOTRANS\n* Bursped: Bursped\n* Cargoline: Cargoline\n* Computeruniverse: Computeruniverse\n* Dachser: Dachser\n* DHLFreight: DHL Freight\n* dtl: dtl\n* Emons: Emons\n* GEL: GEL\n* Hellmann: Hellmann\n* Hermes: Hermes\n* Hermes2MH: Hermes 2 MH\n* IDSLogistik: IDS Logistik\n* Iloxx: Iloxx\n* KuehneNagel: Kuehne & Nagel\n* Marktanlieferung: Marktanlieferung\n* Rhenus: Rhenus\n* Schenker: Schenker\n* SpeditionGuettler: Spedition Guettler\n",
      "enum": [
        "DeutschePost",
        "DHL",
        "GLS",
        "TNT",
        "UPS",
        "DPD",
        "FEDEX",
        "4PX",
        "Bpost",
        "ChinaEMSePacket",
        "ChinaPost",
        "Chronopost",
        "CNEExpress",
        "ColisPrive",
        "Colissimo",
        "GEODIS",
        "LaPosteCourrier",
        "MalaysiaPost",
        "MondialRelay",
        "PostNL",
        "RelaisColis",
        "RoyalMail",
        "SFExpress",
        "SFCService",
        "SingaporePost",
        "USPS",
        "Yanwen",
        "AMATI",
        "BRTID",
        "BRTRIFMIT",
        "BRTSPED",
        "CORREOS",
        "ENERGO",
        "FERCAM",
        "NEXIVE",
        "ItalianPost",
        "SDA",
        "SGTFlyer",
        "TECNOTRANS",
        "Bursped",
        "Cargoline",
        "Computeruniverse",
        "Dachser",
        "DHLFreight",
        "dtl",
        "Emons",
        "GEL",
        "Hellmann",
        "Hermes",
        "Hermes2MH",
        "IDSLogistik",
        "Iloxx",
        "KuehneNagel",
        "Marktanlieferung",
        "Rhenus",
        "Schenker",
        "SpeditionGuettler"
      ]
    },
    "cancellationReason": {
      "type": "string",
      "description": "The reason why you cancel the order",
      "enum": [
        "WrongPrice",
        "DelayedInventory",
        "WrongProductInfo",
        "BuyerFeedbackTimeout",
        "BuyerAgreement",
        "BuyerCancelled",
        "NoInventory",
        "ShippingAddressUndeliverable",
        "Other"
      ]
    },
    "refundReason": {
      "type": "string",
      "description": "The reason why you refund the order",
      "enum": [
        "BuyerWarrantyOrRetractation",
        "WrongPrice",
        "LateDelivery",
        "IncorrectDelivery",
        "IncompleteDelivery",
        "DamagedDelivery",
        "BuyerFeedbackTimeout",
        "BuyerAgreement",
        "BuyerCancelled",
        "NoInventory",
        "ShippingAddressUndeliverable",
        "Other"
      ]
    },
    "orderItem": {
      "description": "Describe an order item.",
      "type": "object",
      "required": [
        "imnOrderItemId"
      ],
      "properties": {
        "imnOrderItemId": {
          "description": "The IMN identifier of the order Item. Must be unique in the order.",
          "type": "string",
          "example": "1"
        },
        "title": {
          "description": "The title of the order item",
          "example": "bLA acide-plomb 6v-4.5ah 70x48x106mm",
          "type": "string"
        },
        "condition": {
          "description": "The condition of the order item",
          "example": "new",
          "type": "string"
        },
        "imageUrl": {
          "description": "The URL of the image of the order item",
          "example": "http://blabla.com//das6-45.jpg",
          "type": "string"
        },
        "merchantOfferSku": {
          "$ref": "#/definitions/sku"
        },
        "gtin": {
          "$ref": "#/definitions/gtin"
        },
        "marketPlaceProductId": {
          "description": "The marketplace product identifier of the order item",
          "example": "MarketplaceProductId",
          "type": "string"
        },
        "marketplaceProductUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "itemPrice": {
          "description": "The price of the order item",
          "example": 6.86,
          "type": "number",
          "format": "decimal"
        },
        "itemTax": {
          "description": "The tax of the order item",
          "type": "number",
          "format": "decimal",
          "example": 0.0
        },
        "quantity": {
          "description": "The quantity of the order item",
          "example": 1,
          "type": "number",
          "format": "decimal"
        },
        "shippingPrice": {
          "description": "The shipping price of the order item",
          "type": "number",
          "example": 0.0,
          "format": "decimal"
        },
        "totalPrice": {
          "description": "The total price of the order item",
          "example": 6.86,
          "type": "number",
          "format": "decimal"
        }
      }
    },
    "orderBillingInfo": {
      "type": "object",
      "description": "The billing information related to the order",
      "properties": {
        "customer": {
          "$ref": "#/definitions/orderCustomer"
        },
        "adress": {
          "$ref": "#/definitions/postalAddress"
        }
      }
    },
    "orderShippingInfo": {
      "type": "object",
      "description": "The shipping information related to the order",
      "properties": {
        "contact": {
          "$ref": "#/definitions/person"
        },
        "relayId": {
          "description": "The company name of The address for this order",
          "type": "string",
          "example": "My Company"
        },
        "address": {
          "$ref": "#/definitions/postalAddress"
        },
        "price": {
          "description": "The shipping price of this order",
          "type": "number",
          "format": "decimal",
          "example": 6.9
        },
        "method": {
          "description": "The shipping method of this order",
          "type": "string",
          "example": "DPD Domicile"
        },
        "fulfilledBy": {
          "description": "The shipment is fulfilled by",
          "type": "string",
          "example": "Cdiscount Fulfillment"
        },
        "tax": {
          "description": "The shipping tax for this order",
          "type": "number",
          "format": "decimal",
          "example": 0.0
        },
        "earliestShipUtcDate": {
          "description": "The UTC date of the earliest ship for this order",
          "type": "string",
          "example": "2017-04-02T21:30:00Z",
          "format": "date-time"
        },
        "latestShipUtcDate": {
          "description": "The UTC date of the latest ship for this order",
          "type": "string",
          "format": "date-time",
          "example": "2017-04-30T21:30:00Z"
        }
      }
    },
    "orderCustomer": {
      "allOf": [
        {
          "$ref": "#/definitions/person"
        },
        {
          "type": "object",
          "description": "The customer",
          "properties": {
            "customerIdentifier": {
              "description": "The buyer identifier for this order",
              "type": "string",
              "example": "1234567890"
            }
          }
        }
      ]
    },
    "person": {
      "type": "object",
      "properties": {
        "civility": {
          "description": "The civility of the person",
          "type": "string",
          "example": "MRS"
        },
        "firstName": {
          "description": "The first name of the person",
          "type": "string",
          "example": "Jacques"
        },
        "lastName": {
          "description": "The last name of the person",
          "type": "string",
          "example": "BAUREGARD"
        },
        "companyName": {
          "type": "string",
          "description": "The company name of the person",
          "example": "App"
        },
        "email": {
          "$ref": "#/definitions/email"
        },
        "phoneNumber": {
          "$ref": "#/definitions/telephoneNumber"
        },
        "mobilePhoneNumber": {
          "$ref": "#/definitions/telephoneNumber"
        }
      }
    },
    "telephoneNumber": {
      "type": "string",
      "description": "The telephone number",
      "example": "+33000000042"
    },
    "postalAddress": {
      "type": "object",
      "properties": {
        "line1": {
          "description": "The address line 1",
          "type": "string",
          "example": "5 rue amÃ©lie"
        },
        "line2": {
          "description": "The address line 2",
          "type": "string",
          "example": "BDR"
        },
        "line3": {
          "description": "The address line 3",
          "type": "string",
          "example": "RDC"
        },
        "comment": {
          "description": "The comment to access to this address",
          "type": "string",
          "example": "The instructions from the buyer"
        },
        "postalCode": {
          "description": "The address postal code",
          "type": "string",
          "example": "13014"
        },
        "city": {
          "description": "The address city",
          "type": "string",
          "example": "Marseille"
        },
        "stateOrRegion": {
          "description": "The address state or region",
          "type": "string",
          "example": "BDR"
        },
        "countryName": {
          "description": "The address country name",
          "type": "string",
          "example": "France"
        },
        "countryIsoCodeAlpha2": {
          "description": "The address country iso code alpha 2 (see http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#/decoding_table for more details)",
          "type": "string",
          "example": "FR"
        }
      }
    },
    "orderGeneralInfo": {
      "type": "object",
      "required": [
        "marketplaceOrderId",
        "imnOrderStatus",
        "marketplaceOrderStatus",
        "purchaseUtcDate",
        "marketplaceLastModificationUtcDate"
      ],
      "properties": {
        "marketplaceOrderId": {
          "$ref": "#/definitions/marketplaceOrderId"
        },
        "imnOrderStatus": {
          "$ref": "#/definitions/imnOrderStatus"
        },
        "marketplaceOrderStatus": {
          "$ref": "#/definitions/marketplaceOrderStatus"
        },
        "purchaseUtcDate": {
          "description": "The purchase date of this order",
          "format": "date-time",
          "type": "string",
          "example": "2017-03-31T21:30:23Z"
        },
        "marketplaceLastModificationUtcDate": {
          "description": "The last modification UTC date done by the marketplace on this order",
          "format": "date-time",
          "type": "string",
          "example": "2017-04-16T10:25:23Z"
        },
        "marketPlaceChannel": {
          "description": "Useful to identify the origin of the order. For example in Cdiscount.",
          "type": "string",
          "example": "Cdiscount France"
        },
        "comment": {
          "description": "The comment associated to this order",
          "type": "string",
          "example": "This is a comment"
        }
      }
    },
    "orderMarketplaceInfo": {
      "description": "Describe the basic information related to an order.",
      "type": "object",
      "required": [
        "identifier",
        "etag",
        "generalInfo",
        "pricingInfo",
        "billingInfo",
        "shippingInfo",
        "orderItems"
      ],
      "properties": {
        "identifier": {
          "$ref": "#/definitions/orderIdentifier"
        },
        "etag": {
          "$ref": "#/definitions/orderEtag"
        },
        "generalInfo": {
          "$ref": "#/definitions/orderGeneralInfo"
        },
        "pricingInfo": {
          "$ref": "#/definitions/orderPricingInfo"
        },
        "billingInfo": {
          "$ref": "#/definitions/orderBillingInfo"
        },
        "shippingInfo": {
          "$ref": "#/definitions/orderShippingInfo"
        },
        "orderItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/orderItem"
          }
        }
      }
    },
    "orderPricingInfo": {
      "type": "object",
      "required": [
        "totalPrice",
        "currencyCode"
      ],
      "properties": {
        "totalPrice": {
          "description": "The total price of this order (corresponding to the amount paid by the customer)",
          "format": "decimal",
          "type": "number",
          "example": 101.42
        },
        "currencyCode": {
          "$ref": "#/definitions/currencyCode"
        },
        "totalTax": {
          "description": "The total tax of this order",
          "type": "number",
          "format": "decimal",
          "example": 0.0
        },
        "totalCommission": {
          "description": "The total commission of this order",
          "type": "number",
          "format": "decimal",
          "example": 0.0
        },
        "additionalFee": {
          "description": "Additional fee related to this order",
          "type": "number",
          "format": "decimal",
          "example": 10.0
        },
        "paymentMethod": {
          "description": "The payment method of this order",
          "type": "string",
          "example": "1 / 1X"
        },
        "payingUtcDate": {
          "description": "The UTC date of the payment of this order",
          "type": "string",
          "format": "date-time",
          "example": "2017-04-01T13:22:01Z"
        }
      }
    },
    "orderMerchantInfo": {
      "type": "object",
      "description": "The information that concerns the merchant for this order",
      "required": [
        "merchantOrderId",
        "merchantECommerceSoftwareName",
        "merchantECommerceSoftwareVersion"
      ],
      "properties": {
        "merchantOrderId": {
          "$ref": "#/definitions/merchantOrderId"
        },
        "merchantECommerceSoftwareName": {
          "$ref": "#/definitions/merchantECommerceSoftwareName"
        },
        "merchantECommerceSoftwareVersion": {
          "$ref": "#/definitions/merchantECommerceSoftwareVersion"
        }
      }
    },
    "orderInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/orderMarketplaceInfo"
        },
        {
          "type": "object",
          "description": "Describe in details all informations related to an order.",
          "required": [
            "identifier",
            "etag",
            "generalInfo",
            "pricingInfo",
            "billingInfo",
            "shippingInfo",
            "orderItems",
            "merchantInfo",
            "imnInfo"
          ],
          "properties": {
            "merchantInfo": {
              "$ref": "#/definitions/orderMerchantInfo"
            },
            "imnInfo": {
              "$ref": "#/definitions/orderIMNInfo"
            }
          }
        }
      ]
    },
    "orderIMNInfo": {
      "type": "object",
      "required": [
        "imnOrderUrl",
        "imnLastModificationUtcDate",
        "processing"
      ],
      "properties": {
        "imnOrderUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "imnLastModificationUtcDate": {
          "description": "The last modification UTC date done by IMN of this order",
          "format": "date-time",
          "type": "string",
          "example": "2017-04-16T10:30:23Z"
        },
        "processing": {
          "$ref": "#/definitions/orderProcessing"
        }
      }
    },
    "merchantCreated": {
      "x-format": "Event",
      "type": "object",
      "description": "When the merchant creates his account on IMN",
      "required": [
        "merchantCode",
        "userId",
        "email"
      ],
      "properties": {
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "email": {
          "$ref": "#/definitions/email"
        }
      }
    },
    "merchantAcountInfoUpdated": {
      "x-format": "Event",
      "description": "When the merchant updates his account information",
      "type": "object",
      "required": [
        "merchantCode",
        "userId",
        "companyName",
        "lastName",
        "firstName",
        "country",
        "phoneNumber"
      ],
      "properties": {
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "lastName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "phoneNumber": {
          "type": "string"
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        }
      }
    },
    "merchantMarketplaceCredentialConfigured": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode",
            "credential"
          ],
          "properties": {
            "credential": {
              "$ref": "#/definitions/marketplaceApiCredential"
            },
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceSubscriptionRequested": {
      "x-format": "Event",
      "description": "When the merchant marketplace subscription has been requested",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceSubscriptionAccepted": {
      "x-format": "Event",
      "description": "When the marketplace accept the mechant subscription request",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceSubscriptionRefused": {
      "x-format": "Event",
      "description": "When the marketplace refuses the merchant subscription",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode",
            "reason"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            },
            "reason": {
              "$ref": "#/definitions/merchantMarketplaceSubscriptionRefusalReason"
            }
          }
        }
      ]
    },
    "merchantMarketplaceSubscriptionBlocked": {
      "x-format": "Event",
      "description": "When the marketplace blocks the merchant subscription",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode",
            "reason"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            },
            "reason": {
              "$ref": "#/definitions/merchantMarketplaceSubscriptionRefusalReason"
            }
          }
        }
      ]
    },
    "merchantOffersSourceMarketplaceDeclared": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantOffersSourceMarketplaceUndeclared": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceOfferImportationEnabled": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceOfferImportationDisabled": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceOfferPublicationEnabled": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceOfferPublicationDisabled": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceOrderImportationEnabled": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceOrderImportationDisabled": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "externalMerchantMarketplaceSubscriptionsRequested": {
      "x-format": "Event",
      "type": "object",
      "description": "When the merchant marketplace subscription has been requested",
      "required": [
        "merchantCode",
        "userId",
        "sourceMarketplaceCode",
        "targetMarketplacesSubscriptionRequested",
        "subscriptionRequestUtcDate",
        "salesforceSubscriptionId"
      ],
      "properties": {
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "sourceMarketplaceCode": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "targetMarketplacesSubscriptionRequested": {
          "type": "array",
          "minItems": 1,
          "uniqueItems": true,
          "items": {
            "$ref": "#/definitions/marketplaceCode"
          }
        },
        "subscriptionRequestUtcDate": {
          "type": "string",
          "format": "date-time",
          "description": "The exact date time of the subscription request"
        },
        "salesforceSubscriptionId": {
          "type": "string",
          "description": "The Salesforce identifier of the subscription",
          "example": "BLA0O00001v8aNuQAI"
        }
      }
    },
    "merchantMarketplacePricingSettingConfigured": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode",
            "ruleType"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            },
            "ruleType": {
              "$ref": "#/definitions/marketplacePricingRuleType"
            },
            "value": {
              "$ref": "#/definitions/marketplacePricingValue"
            }
          }
        }
      ]
    },
    "merchantMarketplaceShippingPreprationSettingConfigured": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode",
            "preparationRuleType"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            },
            "preparationRuleType": {
              "$ref": "#/definitions/marketplacePreparationRuleType"
            },
            "preparationDelay": {
              "type": "number",
              "format": "int32",
              "description": "The delay considering the rule"
            }
          }
        }
      ]
    },
    "merchantMarketplaceShippingDeliverySettingConfigured": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode",
            "deliveryMode",
            "ruleType"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            },
            "deliveryMode": {
              "$ref": "#/definitions/deliveryMode"
            },
            "ruleType": {
              "$ref": "#/definitions/marketplaceShippingChargeRuleType"
            },
            "charge": {
              "type": "number",
              "example": 3.35,
              "description": "The charge for this delivery mode considering the rule"
            },
            "additionalCharge": {
              "type": "number",
              "example": 1.52,
              "description": "The additional charge for this delivery mode"
            }
          }
        }
      ]
    },
    "merchantMarketplaceShippingDeliverySettingDisabled": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceShippingDeliverySettingDeleted": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "merchantMarketplaceShippingDeliverySettingEnabled": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            }
          }
        }
      ]
    },
    "marketplaceMerchantCodeConfigured": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantMarketplaceBase"
        },
        {
          "type": "object",
          "required": [
            "merchantCode",
            "userId",
            "marketplaceCode",
            "marketplaceMerchantCode"
          ],
          "properties": {
            "userId": {
              "$ref": "#/definitions/userId"
            },
            "marketplaceMerchantCode": {
              "$ref": "#/definitions/marketplaceMerchantCode"
            }
          }
        }
      ]
    },
    "marketplaceSubscriptionStatus": {
      "description": "The subscription status",
      "type": "string",
      "enum": [
        "notRequested",
        "requested",
        "accepted",
        "declined",
        "blocked"
      ],
      "example": "accepted"
    },
    "merchantMarketplaceSubscriptionRefusalReason": {
      "type": "string",
      "minLength": 5,
      "x-minLength": 5,
      "maxLength": 4000,
      "x-maxLength": 4000,
      "description": "The marketplace reason for the subscription's refusal"
    },
    "merchantCompanyName": {
      "type": "string",
      "minLength": 2,
      "x-minLength": 2,
      "maxLength": 100,
      "x-maxLength": 100,
      "description": "Merchant's company name"
    },
    "marketplaceCredentialStatus": {
      "description": "The marketplace credential status",
      "type": "string",
      "enum": [
        "notConfigured",
        "configured",
        "expired"
      ],
      "example": "configured"
    },
    "marketplaceShippingSettingsStatus": {
      "description": "The marketplace shipping settings status",
      "type": "string",
      "enum": [
        "notConfigured",
        "configured"
      ]
    },
    "marketplacePreparationRuleType": {
      "type": "string",
      "enum": [
        "Increase",
        "Decrease",
        "Same"
      ],
      "default": "Same",
      "example": "Same"
    },
    "marketplacePreparationSetting": {
      "type": "object",
      "required": [
        "preparationRuleType"
      ],
      "properties": {
        "preparationRuleType": {
          "$ref": "#/definitions/marketplacePreparationRuleType"
        },
        "preparationDelay": {
          "type": "number",
          "format": "int32",
          "description": "The delay considering the rule"
        }
      }
    },
    "marketplaceShippingSettings": {
      "type": "object",
      "required": [
        "preparationSetting",
        "deliverySettings"
      ],
      "properties": {
        "preparationSetting": {
          "$ref": "#/definitions/marketplacePreparationSetting"
        },
        "deliverySettings": {
          "$ref": "#/definitions/marketplaceDeliverySettingList"
        }
      }
    },
    "deliveryMode": {
      "type": "string",
      "example": "Standard",
      "x-lov": "DeliveryMode"
    },
    "marketplaceDeliverySettingList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/marketplaceDeliverySetting"
      }
    },
    "marketplaceDeliverySetting": {
      "type": "object",
      "required": [
        "deliveryMode",
        "ruleType"
      ],
      "properties": {
        "deliveryMode": {
          "$ref": "#/definitions/deliveryMode"
        },
        "ruleType": {
          "$ref": "#/definitions/marketplaceShippingChargeRuleType"
        },
        "charge": {
          "type": "number",
          "example": 3.35,
          "description": "The charge for this delivery mode considering the rule"
        },
        "additionalCharge": {
          "type": "number",
          "example": 1.52,
          "description": "The additional charge for this delivery mode"
        }
      }
    },
    "marketplacePricingValue": {
      "type": "number",
      "pattern": "^([0-9]{1,13}[.]*[0-9]{0,6})$",
      "x-pattern": "^([0-9]{1,13}[.]*[0-9]{0,6})$",
      "example": 42.01
    },
    "marketplacePricingSetting": {
      "type": "object",
      "required": [
        "ruleType"
      ],
      "properties": {
        "ruleType": {
          "$ref": "#/definitions/marketplacePricingRuleType"
        },
        "value": {
          "$ref": "#/definitions/marketplacePricingValue"
        }
      }
    },
    "marketplacePricingRuleOperationType": {
      "type": "string",
      "enum": [
        "plus",
        "minus"
      ],
      "example": "plus"
    },
    "marketplacePricingRuleUnit": {
      "type": "string",
      "enum": [
        "percent",
        "amount"
      ],
      "example": "percent"
    },
    "marketplacePricingRuleType": {
      "type": "string",
      "default": "Same",
      "enum": [
        "PercentIncrease",
        "PercentDecrease",
        "AmountIncrease",
        "AmountDecrease",
        "Same"
      ]
    },
    "marketplaceShippingChargeRuleType": {
      "type": "string",
      "default": "SamePricing",
      "enum": [
        "PercentIncrease",
        "PercentDecrease",
        "AmountIncrease",
        "AmountDecrease",
        "Same",
        "FixedAmount"
      ]
    },
    "marketplaceInfo": {
      "type": "object",
      "required": [
        "code",
        "name",
        "sellerBackOfficeUrl",
        "sellerBackOfficeCredentialPageUrl",
        "imageUrl",
        "subscriptionStatus",
        "credentialStatus",
        "shippingSettingsStatus",
        "source"
      ],
      "properties": {
        "code": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "name": {
          "type": "string",
          "description": "The name of the marketplace",
          "example": "Cdiscount"
        },
        "sellerBackOfficeUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "sellerBackOfficeCredentialPageUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "subscriptionStatus": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "credentialStatus": {
          "$ref": "#/definitions/marketplaceCredentialStatus"
        },
        "shippingSettingsStatus": {
          "$ref": "#/definitions/marketplaceShippingSettingsStatus"
        },
        "source": {
          "type": "boolean",
          "description": "If true, this marketplace is the source of offers",
          "default": false,
          "example": false
        }
      }
    },
    "marketplaceSubscriptionReporting": {
      "type": "object",
      "required": [
        "status",
        "messages"
      ],
      "properties": {
        "status": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/marketplaceSubscriptionMessage"
          }
        }
      }
    },
    "marketplaceSubscriptionMessage": {
      "type": "object",
      "required": [
        "senderType",
        "utcDate",
        "status"
      ],
      "properties": {
        "senderType": {
          "$ref": "#/definitions/marketplaceSubscriptionMessageSenderType"
        },
        "utcDate": {
          "type": "string",
          "format": "date-time",
          "example": "2009-06-15T13:45:30Z"
        },
        "status": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "message": {
          "type": "string",
          "example": "Wrong shoes!"
        }
      }
    },
    "marketplaceSubscriptionMessageSenderType": {
      "type": "string",
      "enum": [
        "merchant",
        "marketplace"
      ],
      "example": "marketplace"
    },
    "marketplaceOfferPublicationStatus": {
      "description": "The Offer Importation status",
      "type": "string",
      "enum": [
        "disabled",
        "enabled"
      ],
      "example": "enabled"
    },
    "merchantEvents": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/merchantEvent"
      }
    },
    "merchantEvent": {
      "type": "object",
      "properties": {
        "eventType": {
          "type": "string"
        },
        "eventContent": {
          "type": "object"
        }
      }
    },
    "marketplaceApiIntegrationStatus": {
      "type": "string",
      "enum": [
        "up",
        "down",
        "paused"
      ]
    },
    "marketplaceStatus": {
      "type": "string",
      "description": "Indicate the status of the marketplace",
      "enum": [
        "PROD",
        "TEST"
      ]
    },
    "firstName": {
      "type": "string",
      "description": "The first name of a person",
      "example": "Marilyne"
    },
    "lastName": {
      "type": "string",
      "description": "The last name of a person",
      "example": "Monroe"
    },
    "correlationId": {
      "x-exclude": true,
      "description": "The correlation identifier. It's a guid.",
      "format": "CorrelationId",
      "type": "string",
      "example": "b0d3faea-f881-439f-ba92-02b1168511ea"
    },
    "messageId": {
      "x-exclude": true,
      "description": "The message identifier. It's a guid.",
      "format": "MessageId",
      "type": "string",
      "example": "b0d3faea-f881-439f-ba92-02b1168511ea"
    },
    "causeId": {
      "x-exclude": true,
      "description": "The cause identifier. It's a guid.",
      "format": "CauseId",
      "type": "string",
      "example": "b0d3faea-f881-439f-ba92-02b1168511ea"
    },
    "merchantCode": {
      "type": "string",
      "description": "The merchant code identifier in IMN",
      "pattern": "^([A-Z|0-9]){5}$",
      "x-pattern": "^([A-Z|0-9]){5}$",
      "example": "MLT01"
    },
    "marketplaceCode": {
      "type": "string",
      "description": "The marketplace code identifier in IMN.\nFor now we have:\n- C1 for Cdiscount\n- E1 for ePrice\n- R1 for Real.DE\n- B1 for BOL\n- E2 for eMAG\n",
      "pattern": "^[A-Z][0-9]$",
      "x-pattern": "^[A-Z][0-9]$",
      "example": "C1"
    },
    "marketplaceMerchantCode": {
      "type": "string",
      "description": "The merchant code for a marketplace",
      "example": "005145"
    },
    "paginationRequestParameters": {
      "type": "object",
      "properties": {
        "pageSize": {
          "$ref": "#/definitions/pageSize"
        },
        "pageNumber": {
          "$ref": "#/definitions/pageNumber"
        }
      }
    },
    "pageSize": {
      "description": "Indicate the item count per page",
      "type": "integer",
      "format": "int32",
      "default": 100,
      "minimum": 25,
      "x-minimum": 25,
      "maximum": 100,
      "x-maximum": 100,
      "example": 100
    },
    "pageNumber": {
      "description": "Indicates the page number",
      "format": "int32",
      "type": "integer",
      "example": 1,
      "minimum": 1,
      "x-minimum": 1,
      "default": 1
    },
    "catalogCategoryFilter": {
      "type": "object",
      "properties": {
        "categoryPath": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Indicates on which catalog category path you want to make the filter",
          "example": [
            "Maison",
            "Chambre"
          ]
        }
      }
    },
    "channelCategoryFilter": {
      "type": "object",
      "properties": {
        "categoryPath": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Indicates on which channel category path you want to make the filter",
          "example": [
            "Home",
            "Bedroom"
          ]
        }
      }
    },
    "productFilters": {
      "type": "object",
      "properties": {
        "sku": {
          "type": "string",
          "description": "The product sku filter",
          "example": "M1234"
        },
        "title": {
          "type": "string",
          "description": "The product title filter",
          "example": "RefrigÃ©rateur"
        },
        "additionalProductFilters": {
          "$ref": "#/definitions/additionalProductFilters"
        }
      }
    },
    "additionalProductFiltersValue": {
      "type": "object",
      "properties": {
        "operatorName": {
          "$ref": "#/definitions/productFilterOperatorName"
        },
        "values": {
          "description": "Must be null if the operator is \"IsNull\" or \"IsNotNull\".\nCan contains multiple value in case of \"InList\" operator. Otherwise a single value is expected.\n",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "My value"
          ]
        }
      },
      "example": {
        "672644c7-5bd0-4e25-88c1-1f732bda5e4c": {
          "operatorName": "GreaterTo",
          "values": [
            100
          ]
        }
      }
    },
    "additionalProductFilters": {
      "type": "object",
      "description": "Describe a filter on a product's column.\nThe key is the column identifier of your catalog or a custom column.\n",
      "additionalProperties": {
        "$ref": "#/definitions/additionalProductFiltersValue"
      }
    },
    "productFilterOperatorName": {
      "type": "string",
      "description": "Indicate the operator you want to make on the columnId",
      "enum": [
        "Equals",
        "Contains",
        "GreaterTo",
        "LowerTo",
        "InList",
        "IsNull",
        "IsNotNull"
      ]
    },
    "sku": {
      "type": "string",
      "description": "The Stock Keeping Unit (SKU), i.e. a merchant-specific identifier for a product or service, or the product to which the offer refers. http://schema.org/sku",
      "maxLength": 50
    },
    "gtin": {
      "type": "string",
      "description": "Global Trade Item Number (GTIN) of the item.\nSupported values:\n\n- UPC (in North America / GTIN-12)\n12-digit number like 323456789012\n8-digit UPC-E codes should be converted to 12-digit codes\n- EAN (in Europe / GTIN-13)\n13-digit number like 3001234567892\n- JAN (in Japan / GTIN-13)\n8 or 13-digit number like 49123456 or 4901234567894\n- ISBN (for books)\n10 or 13-digit number like 1455582344 or 978-1455582341. If you have both, only include the 13-digit number. ISBN-10 are deprecated and should be converted to ISBN-13\n- ITF-14 (for multipacks / GTIN-14)\n14-digit number like 10856435001702\n\nSchema.org property:\n- [Offer.gtin8](http://schema.org/gtin8)\n- [Offer.gtin12](http://schema.org/gtin12)\n- [Offer.gtin13](http://schema.org/gtin13)\n- [Offer.gtin14](http://schema.org/gtin14)\n- [Offer.isbn](http://schema.org/isbn)\n",
      "maxLength": 50
    },
    "productBasicInfo": {
      "description": "The basic information related to a product",
      "type": "object",
      "required": [
        "productId",
        "productSku",
        "productTitle",
        "productImageUrl",
        "productExists"
      ],
      "properties": {
        "productId": {
          "format": "guid",
          "type": "string",
          "description": "The product identifier",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "productSku": {
          "type": "string",
          "description": "The product SKU",
          "example": "SKU1234"
        },
        "productTitle": {
          "type": "string",
          "description": "The product tile",
          "example": "My supert product"
        },
        "productImageUrl": {
          "type": "string",
          "format": "HttpUrl",
          "description": "The product image Url",
          "example": "http://i2.cdscdn.com/pdt2/3/9/0/1/550x550/hai6901018043390/rw/haier-b20fwrss-refrigerateur-americain.jpg"
        },
        "productExists": {
          "type": "boolean",
          "description": "Indicates if the product still exists in your catalog",
          "example": true
        }
      }
    },
    "countryIsoCodeAlpha3": {
      "description": "The country iso code alpha 3 <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3\">(ISO 3166-1_alpha-3)</a>",
      "type": "string",
      "pattern": "^[A-Z]{3}$",
      "x-pattern": "^[A-Z]{3}$",
      "x-lov": "Country",
      "example": "FRA"
    },
    "currencyCode": {
      "description": "The currency code <a href=\"https://en.wikipedia.org/wiki/ISO_4217\">(ISO 4217)</a>\n",
      "type": "string",
      "pattern": "^[A-Z]{3}$",
      "x-pattern": "^[A-Z]{3}$",
      "example": "EUR"
    },
    "email": {
      "x-exclude": true,
      "description": "The email",
      "type": "string",
      "format": "email",
      "pattern": "^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$",
      "x-pattern": "^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$",
      "example": "paulsimon@mysupercompany.com"
    },
    "userId": {
      "x-exclude": true,
      "format": "guid",
      "description": "The user identifier",
      "type": "string",
      "example": "8a7fbdec-9e71-472e-9974-27d5c1d57cf8"
    },
    "storeId": {
      "format": "guid",
      "description": "The store identifier",
      "type": "string",
      "example": "64f43358-63a1-47f7-97ec-0301fc39956b"
    },
    "productId": {
      "type": "string",
      "format": "guid",
      "description": "The product identifier",
      "example": "578419df-1bbf-41a6-96fa-862e42182b67"
    },
    "channelColumnId": {
      "type": "string",
      "format": "guid",
      "description": "The channel column identifier",
      "example": "8a76f06a-fefc-4c0d-bcfe-b210f1482977"
    },
    "listOfValueItem": {
      "description": "This object is used by LOV apis",
      "type": "object",
      "required": [
        "codeIdentifier",
        "intIdentifier"
      ],
      "properties": {
        "position": {
          "format": "int32",
          "type": "integer",
          "example": 1
        },
        "codeIdentifier": {
          "type": "string",
          "example": "FRA"
        },
        "translationText": {
          "type": "string",
          "example": "France"
        },
        "intIdentifier": {
          "format": "int32",
          "type": "integer",
          "example": 1
        }
      }
    },
    "paginationResult": {
      "x-exclude": true,
      "type": "object",
      "required": [
        "entryCount",
        "pageCount",
        "totalEntryCount",
        "links"
      ],
      "properties": {
        "entryCount": {
          "type": "integer",
          "description": "The entry count currently returned",
          "example": 25,
          "minimum": 0
        },
        "pageCount": {
          "type": "integer",
          "description": "The page count",
          "example": 38,
          "minimum": 0
        },
        "totalEntryCount": {
          "type": "integer",
          "description": "The total entry count",
          "example": 943,
          "minimum": 0
        },
        "links": {
          "$ref": "#/definitions/paginationResultLinks"
        }
      },
      "example": {
        "entryCount": 25,
        "pageCount": 38,
        "totalEntryCount": 943,
        "links": {
          "first": {
            "href": "/merchant/orders/v1/list/full",
            "method": "POST",
            "parameters": [
              {
                "name": "request",
                "in": "body",
                "type": "object",
                "schema": "orderListRequest",
                "value": {
                  "beginPeriodUtcDate": "2014-08-25T07:32:31.584Z",
                  "endPeriodUtcDate": "2014-09-24T07:32:31.584Z",
                  "pageSize": 25,
                  "pageNumber": 1
                }
              }
            ]
          },
          "last": {
            "href": "/merchant/orders/v1/list/full",
            "method": "POST",
            "parameters": [
              {
                "name": "request",
                "in": "body",
                "type": "object",
                "schema": "orderListRequest",
                "value": {
                  "beginPeriodUtcDate": "2014-08-25T07:32:31.584Z",
                  "endPeriodUtcDate": "2014-09-24T07:32:31.584Z",
                  "pageSize": 25,
                  "pageNumber": 38
                }
              }
            ]
          },
          "next": {
            "href": "/merchant/orders/v1/list/full",
            "method": "POST",
            "parameters": [
              {
                "name": "request",
                "in": "body",
                "type": "object",
                "schema": "orderListRequest",
                "value": {
                  "beginPeriodUtcDate": "2014-08-25T07:32:31.584Z",
                  "endPeriodUtcDate": "2014-09-24T07:32:31.584Z",
                  "pageSize": 25,
                  "pageNumber": 2
                }
              }
            ]
          }
        }
      }
    },
    "paginationResultLinks": {
      "x-exclude": true,
      "description": "The navigation links 'first', 'last', 'next', 'previous'",
      "type": "object",
      "required": [
        "first",
        "last"
      ],
      "properties": {
        "first": {
          "$ref": "#/definitions/link3"
        },
        "last": {
          "$ref": "#/definitions/link3"
        },
        "previous": {
          "$ref": "#/definitions/link3"
        },
        "next": {
          "$ref": "#/definitions/link3"
        }
      }
    },
    "href": {
      "x-exclude": true,
      "type": "string",
      "example": "/merchant/orders/v1/{marketplaceCode}/{IMNOrderId}",
      "description": "Indicate the relative uri for this link"
    },
    "operationId": {
      "x-exclude": true,
      "type": "string",
      "description": "The operationId to call.",
      "example": "GetOrder"
    },
    "httpMethod": {
      "x-exclude": true,
      "type": "string",
      "enum": [
        "GET",
        "POST",
        "PATCH",
        "DELETE",
        "PUT",
        "HEAD"
      ],
      "default": "GET",
      "example": "GET",
      "description": "Indicate the http method to use on this link"
    },
    "link3": {
      "x-exclude": true,
      "type": "object",
      "required": [
        "href"
      ],
      "properties": {
        "label": {
          "type": "string",
          "description": "The label corresponding to the link. This label is automatically translated based on the Accept-Language http header.",
          "example": "The translated label"
        },
        "docUrl": {
          "$ref": "#/definitions/docUrl"
        },
        "description": {
          "type": "string",
          "description": "The description of the link",
          "example": "This is a description link"
        },
        "href": {
          "$ref": "#/definitions/href"
        },
        "operationId": {
          "$ref": "#/definitions/operationId"
        },
        "method": {
          "$ref": "#/definitions/httpMethod"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/linkParameter3"
          }
        },
        "urlTemplated": {
          "type": "boolean",
          "description": "indicates whether the href is templated or not"
        },
        "allRequiredParamsProvided": {
          "type": "boolean",
          "description": "indicates whether all required params have been provided"
        },
        "allOptionalParamsProvided": {
          "type": "boolean",
          "description": "indicates whether all optionals params have been provided"
        },
        "info": {
          "$ref": "#/definitions/infoSummaries"
        }
      }
    },
    "link2": {
      "x-exclude": true,
      "type": "object",
      "x-deprecated": true,
      "required": [
        "rel"
      ],
      "properties": {
        "rel": {
          "type": "string",
          "description": "Indicate the relation name related to the link",
          "example": "self"
        },
        "href": {
          "$ref": "#/definitions/href"
        },
        "operationId": {
          "$ref": "#/definitions/operationId"
        },
        "method": {
          "$ref": "#/definitions/httpMethod"
        },
        "parameters": {
          "type": "array",
          "uniqueItems": true,
          "minItems": 0,
          "items": {
            "$ref": "#/definitions/linkParameter2"
          }
        },
        "info": {
          "$ref": "#/definitions/infoSummaries"
        }
      }
    },
    "parameterIn": {
      "x-exclude": true,
      "type": "string",
      "description": "* path: if the parameter must be pass in the path uri\n* header: if the parameter must be passed in http header\n* query: if the parameter must be passed in querystring\n* body: if the parameter must be passed in the body\n* file: if the parameter must be passed in a multipart/form-data (https://swagger.io/docs/specification/2-0/file-upload/)\n",
      "example": "path",
      "enum": [
        "path",
        "header",
        "query",
        "body",
        "file"
      ]
    },
    "parameterType": {
      "x-exclude": true,
      "description": "The value type of the parameter",
      "type": "string",
      "enum": [
        "string",
        "integer",
        "number",
        "boolean",
        "object",
        "array",
        "date",
        "date-time",
        "file"
      ],
      "default": "string",
      "example": "string"
    },
    "linkParameter3": {
      "x-exclude": true,
      "type": "object",
      "required": [
        "in"
      ],
      "properties": {
        "label": {
          "type": "string",
          "description": "The label corresponding to the link parameter. This label is automatically translated based on the Accept-Language http header.",
          "example": "The translated label"
        },
        "value": {
          "type": "object",
          "description": "The value of the parameter. It can be an integer a string or an object.",
          "example": "1234"
        },
        "required": {
          "type": "boolean",
          "default": false,
          "example": true
        },
        "in": {
          "$ref": "#/definitions/parameterIn"
        },
        "lovLink": {
          "$ref": "#/definitions/LOVLink3"
        },
        "lovRequired": {
          "type": "boolean",
          "description": "If true, you MUST indicate a value from the list of values otherwise it's a freetext",
          "example": true
        },
        "description": {
          "type": "string",
          "description": "description of the parameter",
          "example": "the store identifier"
        },
        "schema": {
          "type": "string",
          "description": "schema of the parameter",
          "example": "orderListRequest"
        },
        "pattern": {
          "$ref": "#/definitions/validationPattern"
        },
        "properties": {
          "description": "If the parameter is an object with flexible properties (additionProperties/dictionary), we will describe the properties of the object.",
          "additionalProperties": {
            "$ref": "#/definitions/linkParameterProperty3"
          },
          "example": {
            "shipOrder": {
              "type": "â€‹string"
            }
          }
        }
      }
    },
    "validationPattern": {
      "type": "string",
      "description": "The regular expression to validate the value",
      "example": "*.-api$"
    },
    "linkParameterProperty3": {
      "x-exclude": true,
      "type": "object",
      "required": [
        "type"
      ],
      "properties": {
        "label": {
          "type": "string",
          "description": "The label corresponding to the link parameter property. This label is automatically translated based on the Accept-Language http header.",
          "example": "The translated label"
        },
        "value": {
          "type": "object",
          "description": "The value of the parameter. It can be an integer a string or an object.",
          "example": "1234"
        },
        "required": {
          "type": "boolean",
          "example": true
        },
        "type": {
          "$ref": "#/definitions/parameterType"
        },
        "lovLink": {
          "$ref": "#/definitions/LOVLink3"
        },
        "lovRequired": {
          "type": "boolean",
          "description": "If true, you MUST use indicate a value from the list of values otherwise it's a freetext",
          "example": true
        },
        "description": {
          "type": "string",
          "description": "description of the parameter",
          "example": "the store identifier"
        },
        "schema": {
          "type": "string",
          "description": "schema of the parameter",
          "example": "orderListRequest"
        },
        "pattern": {
          "$ref": "#/definitions/validationPattern"
        }
      }
    },
    "linkParameter2": {
      "x-exclude": true,
      "type": "object",
      "x-deprecated": true,
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the parameter",
          "example": "marketplaceCode"
        },
        "value": {
          "type": "string",
          "description": "The value of the parameter",
          "example": "1234"
        },
        "required": {
          "type": "boolean",
          "example": true
        },
        "in": {
          "$ref": "#/definitions/parameterIn"
        },
        "type": {
          "$ref": "#/definitions/parameterType"
        },
        "lovLink": {
          "description": "This parameter expect the values indicated in this list of values.",
          "$ref": "#/definitions/LOVLink2"
        },
        "lovRequired": {
          "type": "boolean",
          "description": "If true, you MUST use indicate a value from the list of values otherwise it's a freetext",
          "example": true
        }
      }
    },
    "LOVLink2": {
      "description": "Describe the way you have to follow to get access to the LOV",
      "x-deprecated": true,
      "type": "object",
      "required": [
        "listName"
      ],
      "properties": {
        "rel": {
          "type": "string",
          "description": "Indicate the relation name related to the link",
          "example": "LOV_Go2CultureName"
        },
        "href": {
          "type": "string",
          "example": "/merchant/lov/v1/{listName}",
          "description": "Indicate the relative uri pattern to the list of value"
        },
        "listName": {
          "type": "string",
          "description": "The name of the list of value",
          "example": "Go2CultureName"
        }
      }
    },
    "LOVLink3": {
      "x-exclude": true,
      "description": "Describe the way you have to follow to get access to the LOV",
      "type": "object",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "format": "uri",
          "example": "/merchant/lov/v1/Go2CultureName",
[...]
