{
  "swagger": "2.0",
  "info": {
    "title": "IMN API - DEV",
    "description": "# The REST API of IMN system\n## Overview\nThe REST APIs provide programmatic access to read and write IMN data. \nBasically, with this API you will be able to do everything like you were with your browser on https://go.imn.io !\n\nThe main features are:\n- Register and manage your account\n- Create and manage and share your stores with your friends/co-workers.\n- Import your product catalog and schedule the auto importation\n- Search the channels your want to use\n- Configure your channels for your catalogs to export your product information:\n    - cost and general settings\n    - category and columns mappings\n    - your will be able to create and manage your custom column\n    - put in place exlusion filters based on simple conditions on your product data\n    - override product values\n    - get product vision for a channel catalog scope\n- Analyze and optimize your performance of your catalogs on all yours channels with different type of reportings by day, channel, category and by product.\n- Automatize your optimisation by using rules!\n- And of course... Manage your orders harvested from all your marketplaces:\n    - Synchronize your orders in an uniformized way\n    - Get the available actions and update the order status\n- ...and more!\n\n## Authentication credentials\nTBD\n\n## Things to keep in mind\n### API Rate Limits\n- The IMN REST API is limited to 100 calls/minute.\n\n### Media type\nThe default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.\n\n### Required content type\nThe required and default encoding for the request and responses is UTF8.\n\n### Required date time format\nAll our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.\n\n### Base URL\nThe Base URL of the IMN API Order Management REST API conforms to the following template.\n\nhttps://api.imn.io\n\nAll URLs returned by the IMN API are relative to this base URL, and all requests to the REST API must use this base URL template.\n\nYou can test our API on https://api-docs.imn.io/swagger-ui\\\nYou can contact us on [gitter, #IMN/API](https://gitter.im/IMN/API)\n",
    "version": "1.0",
    "x-logo": {
      "url": "https://imngo.blob.core.windows.net/imngo/images/imn-logo.png",
      "backgroundColor": "#FFFFFF"
    },
    "contact": {
      "email": "support@imn.io"
    },
    "license": {
      "name": "IMN",
      "url": "https://go.imn.io"
    }
  },
  "host": "api.imn.io",
  "x-IMN-api-ops": {
    "codeGenType": "webapi",
    "repo": "IMN",
    "appRoot": "IMN.MER.MKP.WebService",
    "apiName": "MerchantMarketplacesV1",
    "namespace": "IMN.MER.MKP.WebService",
    "useBeezUPFrameworkVersion2": true,
    "comment": "No change. Just server side generation.\n",
    "using": [
      "IMN.Schemas",
      "IMN.MER.Schemas",
      "IMN.MER.Exceptions"
    ]
  },
  "x-basePath": "/merchant/marketplaces/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Merchant API - Marketplaces - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant API - Marketplaces - Marketplace",
      "x-displayName": "Marketplace"
    },
    {
      "name": "Merchant API - Marketplaces - Api Credentials",
      "x-displayName": "Api Credentials"
    },
    {
      "name": "Merchant API - Marketplaces - Shipping Settings",
      "x-displayName": "Shipping Settings"
    },
    {
      "name": "Merchant API - Marketplaces - Pricing Settings",
      "x-displayName": "Pricing Settings"
    },
    {
      "name": "Merchant API - Marketplaces - Activation",
      "x-displayName": "Activation"
    },
    {
      "name": "Merchant - Account API - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant - Account API - Account",
      "x-displayName": "Account"
    },
    {
      "name": "Merchant - Account API - Api Token",
      "x-displayName": "Api Token"
    },
    {
      "name": "Marketplaces - Orders - Global",
      "description": "All global operations (cross marketplace)",
      "x-displayName": "Global"
    },
    {
      "name": "Marketplaces - Orders - List",
      "description": "All Order list operations",
      "x-displayName": "List"
    },
    {
      "name": "Marketplaces - Orders - Order",
      "description": "All operations related to a single Order",
      "x-displayName": "Order"
    },
    {
      "name": "Marketplaces - Orders - Batches",
      "description": "All batch operations on Orders to reduce call rate",
      "x-displayName": "Batches"
    },
    {
      "name": "Marketplaces - Orders - Subscriptions",
      "description": "All orders subscription operations",
      "x-displayName": "Subscriptions"
    },
    {
      "name": "Merchant API - Offers - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant API - List of Values - LOV",
      "description": "All LOV operations",
      "x-displayName": "LOV"
    },
    {
      "name": "External API - Merchant Marketplace Subscription Request - Global",
      "x-displayName": "Global"
    }
  ],
  "paths": {
    "/merchant/marketplaces/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Global"
        ],
        "summary": "Get the marketplaces index",
        "operationId": "GetMarketplacesIndex",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplaces index",
            "schema": {
              "$ref": "#/definitions/marketplacesIndex"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Marketplace"
        ],
        "summary": "Get the marketplace index",
        "operationId": "GetMarketplaceIndex",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace index",
            "schema": {
              "$ref": "#/definitions/marketplaceIndex"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/subscription/reporting": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Marketplace"
        ],
        "summary": "Get the marketplace subscription reporting",
        "operationId": "GetMarketplaceSubscriptionReporting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace subscription reporting",
            "schema": {
              "$ref": "#/definitions/marketplaceSubscriptionReporting"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/apiCredential": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Api Credentials"
        ],
        "summary": "Get the marketplace API credential",
        "operationId": "GetMarketplaceApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace API credential",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Api Credentials"
        ],
        "summary": "Save the marketplace API credential",
        "operationId": "SaveMarketplaceApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "credential",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Marketplace API credentials saved"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/invalidMarketplaceCredential"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/shippingSettings": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Shipping Settings"
        ],
        "summary": "Get the shipping settings for this marketplace",
        "operationId": "GetMarketplaceShippingSettings",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The shipping settings for this marketplace",
            "schema": {
              "$ref": "#/definitions/marketplaceShippingSettings"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Shipping Settings"
        ],
        "summary": "Save the shipping settings for this marketplace",
        "operationId": "SaveMarketplaceShippingSettings",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "shippingSetting",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceShippingSettings"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Shipping settings configured for this marketplace"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/pricingSetting": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Pricing Settings"
        ],
        "summary": "Get the pricing setting for this marketplace",
        "operationId": "GetMarketplacePricingSetting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The pricing settings for this marketplace",
            "schema": {
              "$ref": "#/definitions/marketplacePricingSetting"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Pricing Settings"
        ],
        "summary": "Save the pricing setting for this marketplace",
        "operationId": "SaveMarketplacePricingSetting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "pricingSetting",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplacePricingSetting"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Pricing setting configured for this marketplace"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/declareOffersSource": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Declare this marketplace as source of the offers",
        "operationId": "DeclareSourceMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The source marketplace has been declared"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/undeclareOffersSource": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Undeclare this marketplace as source of the offers",
        "operationId": "UndeclareSourceMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The source marketplace has been declared"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "412": {
            "$ref": "#/responses/notOfferSourceMarketplace"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/enable": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Enable offers publication & order management for this marketplace",
        "operationId": "EnableMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The marketplace has been enabled"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAcceptedByMarketplace"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disable": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Disable offers publication & order management for this marketplace",
        "operationId": "DisableMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The marketplace has been disabled"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disableOrderImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Disable order importation for this marketplace",
        "operationId": "DisableOrderImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The marketplace order importation has been disabled"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/reenableOrderImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Reenable order importation for this marketplace",
        "operationId": "ReenableOrderImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The marketplace order importation has been reenabled"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAcceptedByMarketplace"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/": {
      "get": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Get the merchant account index",
        "operationId": "GetMerchantAccountIndex",
        "responses": {
          "200": {
            "description": "The merchant account index",
            "schema": {
              "$ref": "#/definitions/merchantAccountIndex"
            }
          },
          "401": {
            "description": "The merchant informations are not available",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/checkMerchantCodeAvailability": {
      "post": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Check if merchant code is available",
        "operationId": "CheckMerchantCodeAvailability",
        "parameters": [
          {
            "name": "merchantCode",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/merchantCode"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant code is available"
          },
          "409": {
            "description": "The merchant code is not available",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/create": {
      "post": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Create the merchant account using the merchant code",
        "operationId": "CreateMerchantAccount",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createMerchantAccountRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant code has been created"
          },
          "400": {
            "description": "The merchant code or some values are invalid. Please check the error message.",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "409": {
            "$ref": "#/responses/merchantCodeAlreadyUsed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Merchant - Account API - Account"
        ],
        "summary": "Get merchant account info",
        "operationId": "GetMerchantAccountInfo",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant account info",
            "schema": {
              "$ref": "#/definitions/merchantAccountInfo"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "Merchant - Account API - Account"
        ],
        "summary": "Save merchant account info",
        "operationId": "UpdateMerchantAcountInfo",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The merchant account info update request",
            "schema": {
              "$ref": "#/definitions/updateMerchantAccountRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant account info updated"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}/resetApiToken": {
      "post": {
        "tags": [
          "Merchant - Account API - Api Token"
        ],
        "summary": "Reset merchant api token",
        "operationId": "ResetMerchantApiToken",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant api token reset"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Marketplaces - Orders - Global"
        ],
        "x-tagGroups": "Martketplaces Orders",
        "operationId": "GetOrderIndex",
        "summary": "Get all actions you can do on the order API",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Order index",
            "schema": {
              "$ref": "#/definitions/orderIndex"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/list/full": {
      "post": {
        "tags": [
          "Marketplaces - Orders - List"
        ],
        "operationId": "GetOrderListFull",
        "summary": "Get a paginated list of all Orders with all Order and Order Item(s) properties",
        "description": "The purpose of this operation is to reduce the amount of request to the API.\\\n\\\nPrevious implmentation of this feature only returned a partial (light) version of the Orders. The purpose of this API is to reduce the number of incoming requests by returning the complete (full) Order and Order Item(s) properties.\n",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "Accept-Encoding",
            "description": "Allows the client to indicate wether it accepts a compressed encoding to reduce traffic size",
            "in": "header",
            "required": true,
            "type": "array",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/orderListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched the full list of Orders",
            "schema": {
              "$ref": "#/definitions/orderListFull"
            }
          },
          "400": {
            "description": "Could not process request for given parameters values. Please check error message for more details.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/list/light": {
      "post": {
        "tags": [
          "Marketplaces - Orders - List"
        ],
        "operationId": "GetOrderListLight",
        "summary": "Get a paginated list of all Orders without details",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/orderListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched the list of Orders",
            "schema": {
              "$ref": "#/definitions/orderListLight"
            }
          },
          "400": {
            "description": "Could not process request for given parameters values. Please check error message for more details.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/setMerchantOrderInfos": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Batches"
        ],
        "operationId": "SetMerchantOrderInfoList",
        "summary": "Send a batch of operations to set an Order's merchant information  (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/setMerchantOrderInfoListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Succesfully received and processed batched operations. Please check response to see the status per operation.",
            "schema": {
              "$ref": "#/definitions/batchOrderOperationResponse"
            }
          },
          "400": {
            "description": "Requested too many batch operations",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/clearMerchantOrderInfos": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Batches"
        ],
        "operationId": "ClearMerchantOrderInfoList",
        "summary": "Send a batch of operations to clear an Order's merchant information (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/clearMerchantOrderInfoListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Succesfully received and processed batched operations. Please check response to see the status per operation.",
            "schema": {
              "$ref": "#/definitions/batchOrderOperationResponse"
            }
          },
          "400": {
            "description": "Requested too many batch operations",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/changeOrders/{changeOrderType}": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Batches"
        ],
        "operationId": "ChangeOrderList",
        "summary": "Send a batch of operations to change your marketplace Order information (accept, ship, etc.)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/changeOrderTypeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Succesfully received and processed batched operations. Please check response to see the status per operation.",
            "schema": {
              "$ref": "#/definitions/batchOrderOperationResponse"
            }
          },
          "400": {
            "description": "Requested too many batch operations",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}": {
      "head": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "HeadOrder",
        "summary": "Get the meta information about the order (ETag, Last-Modified)",
        "description": "The purpose of this operation is to reduce the bandwith usage by getting just the meta information about the order (ETag, Last-Modified) with the body.\nThis could be useful\n",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order and Order Item(s) properties",
            "headers": {
              "Last-Modified": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification UTC date of the order\\\nFor more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2\n"
              },
              "ETag": {
                "type": "string",
                "description": "ETag value to identify the current version of requested Order\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n"
              }
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "GetOrder",
        "summary": "Get full Order and Order Item(s) properties",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order and Order Item(s) properties",
            "headers": {
              "Last-Modified": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification UTC date of the order\\\nFor more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2\n"
              },
              "ETag": {
                "type": "string",
                "description": "ETag value to identify the current version of requested Order\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/order"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/history": {
      "get": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "GetOrderHistory",
        "summary": "Get an Order's harvest and change history",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order history",
            "schema": {
              "$ref": "#/definitions/orderHistory"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/setMerchantOrderInfo": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "SetMerchantOrderInfo",
        "summary": "Set an Order's merchant information",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/setMerchantOrderInfoRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully set Order merchant order info set"
          },
          "400": {
            "description": "Could not update Order merchant information. Please see body for more information.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/clearMerchantOrderInfo": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "ClearMerchantOrderInfo",
        "summary": "Clear an Order's merchant information",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully cleared Order merchant order info set"
          },
          "400": {
            "description": "Could not update Order merchant information. Please see body for more information.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/{changeOrderType}": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "ChangeOrder",
        "summary": "Change your marketplace Order Information (accept, ship, etc.)",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/changeOrderTypeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/changeOrderRequest"
            }
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order change request accepted"
          },
          "400": {
            "description": "Invalid order change request, could not be send to the marketplace. Please check the body of this request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "Already processing a change request for this Order.\\\nPlease refresh your clients Order information and retry later.\n",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Indicates the duration in seconds to wait to be able to make this request again"
              }
            },
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Subscriptions"
        ],
        "operationId": "CreateSubscription",
        "summary": "Creates a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription created",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "400": {
            "description": "Invalid subscription request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "There is already a subscription on for the same eventType and the same target Url.\n",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Marketplaces - Orders - Subscriptions"
        ],
        "operationId": "GetSubscriptionList",
        "summary": "Get the subscription list",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The suscription list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/subscription"
              }
            }
          },
          "400": {
            "description": "Invalid subscription request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "There is already a subscription on for the same eventType and the same target Url.\n",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}": {
      "get": {
        "tags": [
          "Marketplaces - Orders - Subscriptions"
        ],
        "operationId": "GetSubscription",
        "summary": "Get a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription info",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Marketplaces - Orders - Subscriptions"
        ],
        "operationId": "DeleteSubscription",
        "summary": "Delete a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription deleted"
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}/activate": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Subscriptions"
        ],
        "operationId": "ActivateSubscription",
        "summary": "Activate a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription activated",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}/deactivate": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Subscriptions"
        ],
        "operationId": "DeactivateSubscription",
        "summary": "Deactivate a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deactivated",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/offers/v1/{merchantCode}": {
      "post": {
        "tags": [
          "Merchant API - Offers - Global"
        ],
        "summary": "Save a batch of merchant offers",
        "operationId": "SaveMerchantOfferBatch",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/batchMerchantOfferChanges"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant offers changes have been saved!"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/lov/v1/": {
      "get": {
        "summary": "Get all list names",
        "operationId": "GetUserLovIndex",
        "tags": [
          "Merchant API - List of Values - LOV"
        ],
        "responses": {
          "200": {
            "description": "Get the list names",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/userLovIndex"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/lov/v1/{listName}": {
      "get": {
        "tags": [
          "Merchant API - List of Values - LOV"
        ],
        "summary": "Get the list of values related to this list name",
        "operationId": "GetUserListOfValues",
        "parameters": [
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The list of value name your want to get",
            "type": "string"
          },
          {
            "$ref": "#/parameters/acceptLanguageParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of values",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              },
              "Content-Language": {
                "description": "Indicates the language use in the response",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/userListOfValuesResponse"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "List not found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/external/merchants/v1/subscriptionsRequested": {
      "post": {
        "tags": [
          "External API - Merchant Marketplace Subscription Request - Global"
        ],
        "summary": "Notify merchant subscriptions request",
        "operationId": "PushMerchantSubscriptionsRequested",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/externalMerchantMarketplaceSubscriptions"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscriptions's request have been integrated"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    }
  },
  "definitions": {
    "links.GetMarketplaceApiCredentialLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/credential",
            "method": "GET"
          }
        }
      ]
    },
    "links.GetMarketplaceShippingSettingsLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/shippingSettings",
            "method": "GET"
          }
        }
      ]
    },
    "links.GetMarketplacePricingSettingLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/pricingSetting",
            "method": "GET"
          }
        }
      ]
    },
    "links.EnableMarketplaceLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/enable",
            "method": "POST"
          }
        }
      ]
    },
    "links.DisableMarketplaceLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/disable",
            "method": "POST"
          }
        }
      ]
    },
    "links.DisableOrderImportationLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/disableOrderImportation",
            "method": "POST"
          }
        }
      ]
    },
    "links.ReenableOrderImportationLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/reenableOrderImportation",
            "method": "POST"
          }
        }
      ]
    },
    "links.GetMarketplaceSubscriptionReportingLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/disable",
            "method": "POST"
          }
        }
      ]
    },
    "externalLinks.MarketplacePricingRuleTypeLOVLink": {
      "allOf": [
        {
          "$ref": "#/definitions/LOVLink3"
        },
        {
          "type": "object",
          "example": {
            "href": "/v1/user/lov/MarketplacePricingRuleType",
            "method": "GET"
          }
        }
      ]
    },
    "externalLinks.ShippingTypeStandardLOVLink": {
      "allOf": [
        {
          "$ref": "#/definitions/LOVLink3"
        },
        {
          "type": "object",
          "example": {
            "href": "/v1/user/lov/ShippingTypeStandard",
            "method": "GET"
          }
        }
      ]
    },
    "marketplacesIndexLinks": {
      "type": "object",
      "properties": {
        "pricingRuleTypeLOV": {
          "$ref": "#/definitions/externalLinks.MarketplacePricingRuleTypeLOVLink"
        },
        "shippingTypeStandardLOV": {
          "$ref": "#/definitions/externalLinks.ShippingTypeStandardLOVLink"
        }
      }
    },
    "marketplacesIndex": {
      "type": "object",
      "properties": {
        "links": {
          "$ref": "#/definitions/marketplacesIndexLinks"
        },
        "marketplaces": {
          "type": "object",
          "description": "The key is the marketplace code",
          "additionalProperties": {
            "$ref": "#/definitions/marketplaceIndex"
          }
        }
      }
    },
    "marketplaceIndexLinks": {
      "type": "object",
      "properties": {
        "shippingTypeLOV": {
          "$ref": "#/definitions/LOVLink3"
        },
        "apiCredential": {
          "$ref": "#/definitions/links.GetMarketplaceApiCredentialLink"
        },
        "shippingSettings": {
          "$ref": "#/definitions/links.GetMarketplaceShippingSettingsLink"
        },
        "pricingSetting": {
          "$ref": "#/definitions/links.GetMarketplacePricingSettingLink"
        },
        "enable": {
          "$ref": "#/definitions/links.EnableMarketplaceLink"
        },
        "disable": {
          "$ref": "#/definitions/links.DisableMarketplaceLink"
        },
        "disableOrderImportation": {
          "$ref": "#/definitions/links.DisableOrderImportationLink"
        },
        "reenableOrderImportation": {
          "$ref": "#/definitions/links.ReenableOrderImportationLink"
        },
        "reporting": {
          "$ref": "#/definitions/links.GetMarketplaceSubscriptionReportingLink"
        }
      }
    },
    "marketplaceIndex": {
      "type": "object",
      "properties": {
        "info": {
          "$ref": "#/definitions/marketplaceApiInfo"
        },
        "links": {
          "$ref": "#/definitions/marketplaceIndexLinks"
        }
      }
    },
    "offersPublicationStatus": {
      "type": "object",
      "description": "The status of the offer publication to the target marketplace",
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "The marketplace API status for the offer publication",
          "enum": [
            "up",
            "down",
            "paused"
          ],
          "example": "up"
        },
        "publishableOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "The publishable offer count for this target marketplace (considering the product matching)",
          "example": 25
        },
        "publishedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "The published offer count to this target marketplace",
          "example": 20
        },
        "lastPublicationUtcDate": {
          "type": "string",
          "format": "date-time",
          "description": "The last synchronization of the offers from the source marketplace",
          "example": "2018-12-25T23:39:00Z"
        }
      }
    },
    "marketplaceApiInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/marketplaceInfo"
        },
        {
          "type": "object",
          "properties": {
            "offersPublicationStatus": {
              "$ref": "#/definitions/offersPublicationStatus"
            },
            "offersSourceStatus": {
              "$ref": "#/definitions/offersSourceStatus"
            }
          }
        }
      ]
    },
    "offersSourceStatus": {
      "type": "object",
      "description": "The status of the offer importation from the source marketplace",
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "The marketplace API status for the offer importation",
          "enum": [
            "up",
            "down",
            "paused"
          ],
          "example": "up"
        },
        "lastSynchronizationUtcDate": {
          "type": "string",
          "format": "date-time",
          "description": "The last synchronization of the offers from the source marketplace",
          "example": "2018-12-24T23:39:00Z"
        },
        "importedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "The imported offer count from the source marketplace",
          "example": 52
        }
      }
    },
    "httpUrl": {
      "x-exclude": true,
      "description": "The URL <a href=\"https://en.wikipedia.org/wiki/URL\">https://en.wikipedia.org/wiki/URL</a>",
      "type": "string",
      "pattern": "^(https?:\\/\\/)?([\\da-z\\.-]+)\\.([a-z\\.]{2,6})([\\/\\w \\.-]*)*\\/?$",
      "example": "http://www.mydomain.com"
    },
    "merchantAccountIndexLinks": {
      "type": "object",
      "description": "The action you can do on the account API\nThe create and checkMerchantCode link will be available when the merchant code is not created\nThe account link will be available when the merchant has be created  \n",
      "properties": {
        "create": {
          "$ref": "#/definitions/links.CreateMerchantAccountLink"
        },
        "checkMerchantCode": {
          "$ref": "#/definitions/links.CheckMerchantCodeAvailabilityLink"
        },
        "accountInfo": {
          "$ref": "#/definitions/links.GetMerchantAccountInfoLink"
        }
      }
    },
    "merchantAccountIndex": {
      "type": "object",
      "required": [
        "links"
      ],
      "properties": {
        "links": {
          "$ref": "#/definitions/merchantAccountIndexLinks"
        },
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        }
      }
    },
    "createMerchantAccountRequest": {
      "type": "object",
      "required": [
        "code",
        "firstName",
        "lastName",
        "country",
        "companyName",
        "phoneNumber"
      ],
      "properties": {
        "code": {
          "$ref": "#/definitions/merchantCode"
        },
        "firstName": {
          "type": "string",
          "example": "Marilyn"
        },
        "lastName": {
          "type": "string",
          "example": "MONROE"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "phoneNumber": {
          "type": "string",
          "example": 663963036.0
        }
      }
    },
    "updateMerchantAccountRequest": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "country",
        "companyName",
        "phoneNumber"
      ],
      "properties": {
        "firstName": {
          "type": "string",
          "example": "Marilyn"
        },
        "lastName": {
          "type": "string",
          "example": "MONROE"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "phoneNumber": {
          "type": "string",
          "example": 663963036.0
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        }
      }
    },
    "merchantAccountInfo": {
      "type": "object",
      "required": [
        "merchantCode",
        "email",
        "firstName",
        "lastName",
        "country",
        "companyName",
        "phoneNumber",
        "apiToken",
        "links"
      ],
      "properties": {
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "email": {
          "$ref": "#/definitions/email"
        },
        "firstName": {
          "type": "string",
          "example": "Marilyn"
        },
        "lastName": {
          "type": "string",
          "example": "MONROE"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "phoneNumber": {
          "type": "string",
          "example": 663963036.0
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "apiToken": {
          "type": "string",
          "description": "The api token that you will have to use to connect to our API",
          "example": "2b1ff3a068054433ac09224bbb1ff3a068054433ac09224bb0c9d7ea=="
        },
        "links": {
          "$ref": "#/definitions/merchantAccountInfoLinks"
        }
      }
    },
    "merchantAccountInfoLinks": {
      "type": "object",
      "description": "The action you can do on a merchant.\nThe external link will be avaible if there is no subscription requested \n",
      "required": [
        "self",
        "update",
        "resetApiToken"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetMerchantAccountInfoLink"
        },
        "update": {
          "$ref": "#/definitions/links.UpdateMerchantAcountInfoLink"
        },
        "resetApiToken": {
          "$ref": "#/definitions/links.ResetMerchantApiTokenLink"
        },
        "externalMarketplaceSubscription": {
          "$ref": "#/definitions/links.ExternalMarketplaceSubscriptionFormLink"
        }
      }
    },
    "links.CreateMerchantAccountLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/create",
            "method": "POST"
          }
        }
      ]
    },
    "links.CheckMerchantCodeAvailabilityLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/checkMerchantCode",
            "method": "GET"
          }
        }
      ]
    },
    "links.GetMerchantAccountInfoLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/MLT01",
            "method": "GET"
          }
        }
      ]
    },
    "links.ResetMerchantApiTokenLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/MLT01/resetApiToken",
            "method": "POST"
          }
        }
      ]
    },
    "links.UpdateMerchantAcountInfoLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/MLT01",
            "method": "PATCH"
          }
        }
      ]
    },
    "links.ExternalMarketplaceSubscriptionFormLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "description": "The link to sales force form to easily subscribe to the marketplaces\nThe query string will be indicated by the server: \n- email: the email of the merchant\n- merchantCode: The merchant code \n- hmac: Computed by the server with a shared secret key\n",
          "example": {
            "href": "https://imn-developer-edition.eu9.force.com/?email=myemail@mydomain.com&merchantCode=MLT01&hmac=M2JiMmFkY2QwMTY1MjhkM2Y3ZGFmMGZlNjE5ODk1ZDE5NDVjMWQzZGRmNjMyNzkyYzVlMTZmZDQ1YmM1M2ZlOA==#general",
            "method": "GET"
          }
        }
      ]
    },
    "imnOrderId": {
      "description": "The IMN Order identifier",
      "type": "string",
      "format": "uuid",
      "example": "00000000000000000000000000000000000000000000000"
    },
    "order_MerchantOrderId": {
      "description": "The order merchant identifier",
      "type": "string",
      "example": "MyOrderMerchantId"
    },
    "order_MerchantECommerceSoftwareName": {
      "description": "The e-commerce software name of the merchant",
      "type": "string",
      "example": "Prestashop"
    },
    "order_MerchantECommerceSoftwareVersion": {
      "description": "The e-commece software version of the merchant",
      "type": "string",
      "example": "123.0.1"
    },
    "dateSearchType": {
      "description": "Indicates on which date you want to make the filter",
      "type": "string",
      "enum": [
        "Modification",
        "Purchase",
        "MarketPlaceModification"
      ],
      "default": "Modification"
    },
    "pageSize": {
      "description": "Indicate the order count per page",
      "type": "integer",
      "format": "int32",
      "default": 100,
      "minimum": 25,
      "maximum": 100,
      "example": 100
    },
    "pageNumber": {
      "description": "Indicates the page number",
      "format": "int32",
      "type": "integer",
      "example": 1,
      "minimum": 1,
      "default": 1
    },
    "order_Buyer_Name": {
      "description": "Buyer full name",
      "type": "string",
      "example": "Monroe"
    },
    "orderListRequestWithoutPagination": {
      "type": "object",
      "required": [
        "dateSearchType",
        "beginPeriodUtcDate",
        "endPeriodUtcDate"
      ],
      "properties": {
        "marketplaceCodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/marketplaceCode"
          },
          "example": [
            "C1"
          ]
        },
        "imnOrderStatuses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/imnOrderStatus"
          },
          "example": [
            "InProgress"
          ]
        },
        "dateSearchType": {
          "$ref": "#/definitions/dateSearchType"
        },
        "beginPeriodUtcDate": {
          "description": "The begin period you want to make the search. \\\nThe period MUST not be greater than 30 days.\nThe begin period MUST be lower than the end period.\n",
          "format": "date-time",
          "type": "string",
          "example": "2017-03-01T13:10:01Z"
        },
        "endPeriodUtcDate": {
          "description": "The end period of you search. \\\nThe period MUST not be greater than 30 days. \\\nThe end period MUST be greater than the begin period.\nThe end period MUST be lower to the current date.\n",
          "format": "date-time",
          "type": "string",
          "example": "2017-04-01T13:10:01Z"
        },
        "order_Buyer_Name": {
          "$ref": "#/definitions/order_Buyer_Name"
        },
        "marketplaceOrderIds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/marketplaceOrderId"
          },
          "example": [
            "AmazonOrderId1234"
          ]
        },
        "order_MerchantOrderIds": {
          "description": "Merchant order id list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/order_MerchantOrderId"
          },
          "example": [
            "MyOrderId1234"
          ]
        }
      }
    },
    "orderListRequest": {
      "allOf": [
        {
          "$ref": "#/definitions/orderListRequestWithoutPagination"
        },
        {
          "type": "object",
          "required": [
            "dateSearchType",
            "beginPeriodUtcDate",
            "endPeriodUtcDate",
            "pageSize",
            "pageNumber"
          ],
          "properties": {
            "pageSize": {
              "$ref": "#/definitions/pageSize"
            },
            "pageNumber": {
              "$ref": "#/definitions/pageNumber"
            }
          }
        }
      ]
    },
    "businessOperationType": {
      "type": "string",
      "x-lov": "OrderChangeBusinessOperationType",
      "example": "ShipOrder"
    },
    "orderIdentifier": {
      "type": "object",
      "required": [
        "marketplaceCode",
        "merchantCode",
        "imnOrderId"
      ],
      "properties": {
        "marketplaceCode": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "imnOrderId": {
          "$ref": "#/definitions/imnOrderId"
        }
      }
    },
    "clearMerchantOrderInfoListRequest": {
      "type": "object",
      "required": [
        "orders"
      ],
      "properties": {
        "orders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/orderIdentifier"
          },
          "maxItems": 100,
          "uniqueItems": true,
          "minItems": 1,
          "example": [
            {
              "marketplaceCode": "Amazon",
              "merchantCode": 1234,
              "imnOrderId": "00000000000000000000000000000000000000000000000"
            },
            {
              "marketplaceCode": "Amazon",
              "merchantCode": 5678,
              "imnOrderId": "00000000000000000000000000000000000000000000000"
            },
            {
              "marketplaceCode": "Ebay",
              "merchantCode": 9876,
              "imnOrderId": "00000000000000000000000000000000000000000000000"
            }
          ]
        }
      }
    },
    "setMerchantOrderInfoListRequest": {
      "type": "object",
      "required": [
        "order_MerchantECommerceSoftwareName",
        "order_MerchantECommerceSoftwareVersion",
        "orders"
      ],
      "properties": {
        "order_MerchantECommerceSoftwareName": {
          "$ref": "#/definitions/order_MerchantECommerceSoftwareName"
        },
        "order_MerchantECommerceSoftwareVersion": {
          "$ref": "#/definitions/order_MerchantECommerceSoftwareVersion"
        },
        "orders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/setMerchantOrderInfoListRequestItem"
          },
          "maxItems": 100,
          "uniqueItems": true,
          "minItems": 1,
          "example": [
            {
              "marketplaceCode": "Amazon",
              "merchantCode": 1234,
              "imnOrderId": "8D47FF1427A26B064ca98e95f644361ada5a5be0bbb3b53",
              "order_MerchantOrderId": "BX1234"
            },
            {
              "marketplaceCode": "Amazon",
              "merchantCode": 5678,
              "imnOrderId": "8D47FF149F213D055f26e3c413e4c9ba5c5cfda460547a4",
              "order_MerchantOrderId": "BX5678"
            },
            {
              "marketplaceCode": "Ebay",
              "merchantCode": 9876,
              "imnOrderId": "8D47FF150217B60bdec05ab61c445d1a59e3da050b52823",
              "order_MerchantOrderId": "BX9876"
            }
          ]
        }
      }
    },
    "setMerchantOrderInfoListRequestItem": {
      "allOf": [
        {
          "$ref": "#/definitions/orderIdentifier"
        },
        {
          "type": "object",
          "required": [
            "marketplaceCode",
            "merchantCode",
            "imnOrderId",
            "order_MerchantOrderId"
          ],
          "properties": {
            "order_MerchantOrderId": {
              "$ref": "#/definitions/order_MerchantOrderId"
            }
          }
        }
      ]
    },
    "setMerchantOrderInfoRequest": {
      "type": "object",
      "required": [
        "order_MerchantOrderId",
        "order_MerchantECommerceSoftwareName",
        "order_MerchantECommerceSoftwareVersion"
      ],
      "properties": {
        "order_MerchantOrderId": {
          "$ref": "#/definitions/order_MerchantOrderId"
        },
        "order_MerchantECommerceSoftwareName": {
          "$ref": "#/definitions/order_MerchantECommerceSoftwareName"
        },
        "order_MerchantECommerceSoftwareVersion": {
          "$ref": "#/definitions/order_MerchantECommerceSoftwareVersion"
        }
      }
    },
    "accountSynchronizationList": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/accountSynchronization"
      }
    },
    "accountSynchronization": {
      "type": "object",
      "required": [
        "merchantCode",
        "marketplaceCode",
        "marketplaceBusinessCode"
      ],
      "properties": {
        "completedHarvestSynchroUtcDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "processing": {
      "description": "If true, there is currently a harvest or an order change in progress. Otherwise false.",
      "type": "boolean",
      "example": false
    },
    "links.GetOrderLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/Amazon/1001/00000000000000000000000000000000000000000000000",
            "method": "GET"
          }
        }
      ]
    },
    "orderHeaderLinks": {
      "type": "object",
      "required": [
        "self"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetOrderLink"
        }
      }
    },
    "orderHeader": {
      "description": "Describe the basic information related to an order. All properties with the prefix order_ are translated in the list of values /user/lov/OrderMetaInfoOrderDetails",
      "type": "object",
      "required": [
        "marketplaceCode",
        "merchantCode",
        "imnOrderId",
        "order_MarketplaceOrderId",
        "order_Status_IMNOrderStatus",
        "order_PurchaseUtcDate",
        "order_LastModificationUtcDate",
        "order_MarketplaceLastModificationUtcDate",
        "processing",
        "etag",
        "links"
      ],
      "properties": {
        "marketplaceCode": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "imnOrderId": {
          "$ref": "#/definitions/imnOrderId"
        },
        "imnOrderUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "order_MarketplaceOrderId": {
          "$ref": "#/definitions/marketplaceOrderId"
        },
        "order_Status_IMNOrderStatus": {
          "$ref": "#/definitions/imnOrderStatus"
        },
        "order_Status_MarketplaceOrderStatus": {
          "$ref": "#/definitions/marketplaceOrderStatus"
        },
        "order_MerchantOrderId": {
          "$ref": "#/definitions/order_MerchantOrderId"
        },
        "order_MerchantECommerceSoftwareName": {
          "$ref": "#/definitions/order_MerchantECommerceSoftwareName"
        },
        "order_MerchantECommerceSoftwareVersion": {
          "$ref": "#/definitions/order_MerchantECommerceSoftwareVersion"
        },
        "order_PurchaseUtcDate": {
          "description": "The purchase date of this order",
          "format": "date-time",
          "type": "string",
          "example": "2017-03-31T21:30:23Z"
        },
        "order_LastModificationUtcDate": {
          "description": "The last modification UTC date done by IMN of this order",
          "format": "date-time",
          "type": "string",
          "example": "2017-04-16T10:30:23Z"
        },
        "order_MarketplaceLastModificationUtcDate": {
          "description": "The last modification UTC date done by the marketplace on this order",
          "format": "date-time",
          "type": "string",
          "example": "2017-04-16T10:25:23Z"
        },
        "order_Buyer_Name": {
          "$ref": "#/definitions/order_Buyer_Name"
        },
        "order_TotalPrice": {
          "description": "The total price of this order (corresponding to the amount paid by the customer)",
          "format": "decimal",
          "type": "number",
          "example": 101.42
        },
        "order_CurrencyCode": {
          "$ref": "#/definitions/currencyCode"
        },
        "processing": {
          "$ref": "#/definitions/processing"
        },
        "etag": {
          "$ref": "#/definitions/etag"
        },
        "links": {
          "$ref": "#/definitions/orderHeaderLinks"
        }
      }
    },
    "etag": {
      "description": "ETag value to identify the order.\\\nThis information is required for the operation GetOrder and ChangeOrder.\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n",
      "type": "string",
      "example": "\"ca071a4580129f932a03971968ffef69\""
    },
    "orderItem": {
      "description": "Describe an order item. All properties with the prefix orderItem_ are translated in the list of values /user/lov/OrderMetaInfoOrderItems",
      "type": "object",
      "required": [
        "imnOrderItemId",
        "orderItem_OrderItemType"
      ],
      "properties": {
        "imnOrderItemId": {
          "description": "The IMN identifier of the order Item",
          "type": "string",
          "example": "1"
        },
        "orderItem_OrderItemType": {
          "description": "The order item type of the order item",
          "type": "string",
          "example": "Product"
        },
        "orderItem_MerchantImportedProductId": {
          "description": "The product id indicated in the catalog importation in IMN system for this order item. This property will help you to match the order to the inventory system.",
          "type": "string",
          "example": "73267"
        },
        "orderItem_MerchantImportedProductIdColumnName": {
          "description": "The column name for the product id indicated in the catalog importation in IMN system related to this order item. This property will help you to match the order to the inventory system.",
          "example": "reference",
          "type": "string"
        },
        "orderItem_MerchantImportedProductUrl": {
          "description": "The product url indicated in the catalog importation in IMN system related to this order item",
          "example": "http://blabla.com/my-folder/73267.html",
          "type": "string"
        },
        "orderItem_MerchantProductIdColumnName": {
          "description": "The column name indicate in the mapping for the product id related to the order item",
          "example": "reference_produit",
          "type": "string"
        },
        "orderItem_IMNStoreId": {
          "description": "The store id in the IMN system related to the order item. This property will help you to match the order to the inventory system.",
          "example": "00000000-cceb-4c20-b2c9-000000000000",
          "type": "string"
        },
        "orderItem_ItemTax": {
          "description": "The tax of the order item",
          "type": "number",
          "format": "decimal",
          "example": 0.0
        },
        "orderItem_Title": {
          "description": "The title of the order item",
          "example": "bLA acide-plomb 6v-4.5ah 70x48x106mm",
          "type": "string"
        },
        "orderItem_ImageUrl": {
          "description": "The URL of the image of the order item",
          "example": "http://blabla.com//das6-45.jpg",
          "type": "string"
        },
        "orderItem_MerchantProductId": {
          "description": "The merchant product id of the order item",
          "example": "BlaLdas6-4.5",
          "type": "string"
        },
        "orderItem_MarketPlaceProductId": {
          "description": "The marketplace product identifier of the order item",
          "example": "",
          "type": "string"
        },
        "orderItem_ItemPrice": {
          "description": "The price of the order item",
          "example": 6.86,
          "type": "number",
          "format": "decimal"
        },
        "orderItem_Quantity": {
          "description": "The quantity of the order item",
          "example": 1,
          "type": "number",
          "format": "decimal"
        },
        "orderItem_TotalPrice": {
          "description": "The total price of the order item",
          "example": 6.86,
          "type": "number",
          "format": "decimal"
        },
        "orderItem_Shipping_Price": {
          "description": "The shipping price of the order item",
          "type": "number",
          "example": 0.0,
          "format": "decimal"
        }
      }
    },
    "orderLinks": {
      "allOf": [
        {
          "$ref": "#/definitions/orderHeaderLinks"
        },
        {
          "type": "object",
          "required": [
            "self",
            "history",
            "harvest",
            "setMerchantInfo",
            "clearMerchantInfo"
          ],
          "properties": {
            "history": {
              "$ref": "#/definitions/links.GetOrderHistoryLink"
            },
            "setMerchantInfo": {
              "$ref": "#/definitions/links.SetMerchantOrderInfoLink"
            },
            "clearMerchantInfo": {
              "$ref": "#/definitions/links.ClearMerchantOrderInfoLink"
            }
          }
        }
      ]
    },
    "links.GetOrderHistoryLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/Amazon/1001/00000000000000000000000000000000000000000000000/history",
            "method": "GET"
          }
        }
      ]
    },
    "links.SetMerchantOrderInfoLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/Amazon/1001/00000000000000000000000000000000000000000000000/setMerchantOrderInfo",
            "method": "POST",
            "parameters": {
              "request": {
                "in": "body",
                "type": "object",
                "schema": "setMerchantOrderInfoRequest"
              }
            }
          }
        }
      ]
    },
    "links.ClearMerchantOrderInfoLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/Amazon/1001/00000000000000000000000000000000000000000000000/clearMerchantOrderInfo",
            "method": "POST"
          }
        }
      ]
    },
    "links.HarvestOrderLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/Amazon/1001/00000000000000000000000000000000000000000000000/harvest",
            "method": "POST"
          }
        }
      ]
    },
    "order": {
      "allOf": [
        {
          "$ref": "#/definitions/orderHeader"
        },
        {
          "type": "object",
          "description": "Describe in details all informations related to an order. All properties with the prefix order_ are translated in the list of values /user/lov/OrderMetaInfoOrderDetails.",
          "required": [
            "marketplaceCode",
            "merchantCode",
            "imnOrderId",
            "marketplaceBusinessCode",
            "order_MarketplaceOrderId",
            "order_Status_IMNOrderStatus",
            "order_PurchaseUtcDate",
            "order_LastModificationUtcDate",
            "order_MarketplaceLastModificationUtcDate",
            "processing",
            "etag",
            "links",
            "orderItems",
            "transitionLinks"
          ],
          "properties": {
            "links": {
              "$ref": "#/definitions/orderLinks"
            },
            "order_MarketPlaceChannel": {
              "description": "Useful to identify the origin of the order. For example in Amazon.",
              "type": "string",
              "example": "Amazon France"
            },
            "order_TotalTax": {
              "description": "The total tax of this order",
              "type": "number",
              "format": "decimal",
              "example": 0.0
            },
            "order_TotalCommission": {
              "description": "The total commission of this order",
              "type": "number",
              "format": "decimal",
              "example": 0.0
            },
            "order_PaymentMethod": {
              "description": "The payment method of this order",
              "type": "string",
              "example": "1 / 1X"
            },
            "order_PayingUtcDate": {
              "description": "The UTC date of the payment of this order",
              "type": "string",
              "format": "date-time",
              "example": "2017-04-01T13:22:01Z"
            },
            "order_Comment": {
              "description": "The comment associated to this order",
              "type": "string",
              "example": "This is a comment"
            },
            "order_Shipping_Civility": {
              "description": "The civility of the person in the shipping address for this order",
              "type": "string",
              "example": "MRS"
            },
            "order_Shipping_CompanyName": {
              "description": "The company name of the shipping address for this order",
              "type": "string",
              "example": "My Company"
            },
            "order_Shipping_AddressName": {
              "description": "The name of the person in the shipping address for this order",
              "type": "string",
              "example": "Jacques BAUREGARD"
            },
            "order_Shipping_Email": {
              "description": "The email of the person in the shipping address for this order",
              "type": "string",
              "example": "client_000000@manomano.fr"
            },
            "order_Shipping_AddressLine1": {
              "description": "The shipping address line 1 of this order",
              "type": "string",
              "example": "5 rue amÃ©lie"
            },
            "order_Shipping_AddressLine2": {
              "description": "The shipping address line 2 of this order",
              "type": "string",
              "example": "BDR"
            },
            "order_Shipping_AddressLine3": {
              "description": "The shipping address line 3 of this order",
              "type": "string",
              "example": "RDC"
            },
            "order_Shipping_AddressPostalCode": {
              "description": "The shipping address postal code of this order",
              "type": "string",
              "example": "13014"
            },
            "order_Shipping_AddressCity": {
              "description": "The shipping address city of this order",
              "type": "string",
              "example": "Marseille"
            },
            "order_Shipping_AddressStateOrRegion": {
              "description": "The shipping address state or region of this order",
              "type": "string",
              "example": "BDR"
            },
            "order_Shipping_AddressCountryName": {
              "description": "The shipping address country name",
              "type": "string",
              "example": "France"
            },
            "order_Shipping_AddressCountryIsoCodeAlpha2": {
              "description": "The shipping address country iso code alpha 2 (see http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#/decoding_table for more details)",
              "type": "string",
              "example": "FR"
            },
            "order_Shipping_Phone": {
              "description": "The phone number of the person in the shipping address for this order",
              "type": "string",
              "example": "+33000000041"
            },
            "order_Shipping_MobilePhone": {
              "description": "The mobile phone number of the person in the shipping address for this order",
              "type": "string",
              "example": "+33000000042"
            },
            "order_Shipping_Price": {
              "description": "The shipping price of this order",
              "type": "number",
              "format": "decimal",
              "example": 6.9
            },
            "order_Shipping_Method": {
              "description": "The shipping method of this order",
              "type": "string",
              "example": "DPD Domicile"
            },
            "order_Shipping_ShippingTax": {
              "description": "The shipping tax for this order",
              "type": "number",
              "format": "decimal",
              "example": 0.0
            },
            "order_Shipping_EarliestShipUtcDate": {
              "description": "The UTC date of the earliest ship for this order",
              "type": "string",
              "example": "2017-04-02T21:30:00Z",
              "format": "date-time"
            },
            "order_Shipping_LatestShipUtcDate": {
              "description": "The UTC date of the latest ship for this order",
              "type": "string",
              "format": "date-time",
              "example": "2017-04-30T21:30:00Z"
            },
            "order_Buyer_Identifier": {
              "description": "The buyer identifier for this order",
              "type": "string",
              "example": "1234567890"
            },
            "order_Buyer_Civility": {
              "description": "The buyer civility for this order",
              "type": "string",
              "example": "Marseille"
            },
            "order_Buyer_CompanyName": {
              "description": "The buyer company name for this order",
              "type": "string",
              "example": "Marsillia"
            },
            "order_Buyer_Email": {
              "description": "The email of the buyer for this order",
              "type": "string",
              "example": "client_000000@manomano.fr"
            },
            "order_Buyer_AddressLine1": {
              "description": "The Buyer address line 1 of this order",
              "type": "string",
              "example": "5 rue amÃ©lie"
            },
            "order_Buyer_AddressLine2": {
              "description": "The Buyer address line 2 of this order",
              "type": "string",
              "example": "BDR"
            },
            "order_Buyer_AddressLine3": {
              "description": "The Buyer address line 3 of this order",
              "type": "string",
              "example": "RDC"
            },
            "order_Buyer_AddressPostalCode": {
              "description": "The Buyer address postal code of this order",
              "type": "string",
              "example": "13014"
            },
            "order_Buyer_AddressCity": {
              "description": "The Buyer address city of this order",
              "type": "string",
              "example": "Marseille"
            },
            "order_Buyer_AddressStateOrRegion": {
              "description": "The Buyer address state or region of this order",
              "type": "string",
              "example": "BDR"
            },
            "order_Buyer_AddressCountryName": {
              "description": "The Buyer address country name",
              "type": "string",
              "example": "France"
            },
            "order_Buyer_AddressCountryIsoCodeAlpha2": {
              "description": "The Buyer address country iso code alpha 2 (see http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#/decoding_table for more details)",
              "type": "string",
              "example": "FR"
            },
            "order_Buyer_Phone": {
              "description": "The phone number of the buyer for this order",
              "type": "string",
              "example": "+33000000101"
            },
            "order_Buyer_MobilePhone": {
              "description": "The mobile phone number of the buyer for this order",
              "type": "string",
              "example": "+33000000042"
            },
            "orderItems": {
[...]
