{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "IMN marketplace API- DEV",
    "description": "\r\n# The REST API of IMN system - Marketplace\r\n## Overview\r\nThe REST APIs provide programmatic access to read and write IMN data. \r\n\r\nThis API allows the marketplace to push data to IMN.\r\n\r\n\r\nThe main features are:\r\n- Push merchant offers\r\n- Push merchant orders\r\n- ...\r\n\r\n\r\n## Things to keep in mind\r\n### API Rate Limits\r\n- The IMN REST API is limited to 100 calls/minute.\r\n\r\n### Media type\r\nThe default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.\r\n\r\n### Required content type\r\nThe required and default encoding for the request and responses is UTF8.\r\n\r\n### Required date time format\r\nAll our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.\r\n\r\n### Base URL\r\nAll URLs returned by the IMN API are relative to this base URL, and all requests to the REST API must use this base URL template.\r\n\r\nYou can test our API on https://mkp-api-docs.imn.io/swagger-ui\\\\\r\nYou can contact us on [gitter, #IMN/API](https://gitter.im/IMN/API)\r\n\r\n",
    "x-logo": {
      "url": "https://imngo.blob.core.windows.net/imngo/images/imn-logo.png",
      "backgroundColor": "#FFFFFF"
    },
    "contact": {
      "email": "support@imn.io"
    },
    "license": {
      "name": "IMN",
      "url": "https://go.imn.io"
    }
  },
  "host": "api.imn.io",
  "x-IMN-api-ops": {
    "codeGenType": "webapi",
    "product": "IMN-CORE",
    "group": "merchant",
    "applicationShortName": "MKP.MER.WS",
    "repo": "IMN",
    "appRoot": "IMN.MKP.MER.WebService",
    "apiName": "MarketplaceMerchantsV1",
    "namespace": "IMN.MKP.MER.WebService",
    "useBeezUPFrameworkVersion2": true,
    "comment": "No change. Just server side generation.\n",
    "using": [
      "IMN.Schemas",
      "IMN.Exceptions",
      "IMN.MER.Schemas",
      "IMN.MER.Exceptions"
    ],
    "references": [
      "IMN.Schemas",
      "IMN.Exceptions",
      "IMN.MER.Schemas",
      "IMN.MER.Exceptions"
    ]
  },
  "x-basePath": "/marketplace/merchants/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Marketplace - Merchants API - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Marketplace - Merchants API - Merchants",
      "x-displayName": "Merchants"
    },
    {
      "name": "Marketplace - Merchants API - Api Credentials",
      "x-displayName": "Api Credentials"
    },
    {
      "name": "Marketplace - Merchants API - Subscription",
      "x-displayName": "Subscription"
    },
    {
      "name": "Marketplace - Merchants API - Marketplace Merchant Code",
      "x-displayName": "Marketplace Merchant Code"
    },
    {
      "name": "Marketplace API - Offers - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Marketplaces - Orders - Order Change Reporting",
      "description": "The order change reporting operations",
      "x-displayName": "Order Change Reporting"
    },
    {
      "name": "Marketplaces - Orders - Batches",
      "description": "All batch operations on Orders to reduce call rate",
      "x-displayName": "Batches"
    },
    {
      "name": "Marketplace API - List of Values - LOV",
      "description": "All LOV operations",
      "x-displayName": "LOV"
    }
  ],
  "paths": {
    "/marketplace/merchants/v1/{marketplaceCode}": {
      "get": {
        "tags": [
          "Marketplace - Merchants API - Global"
        ],
        "summary": "Get marketplace index in the merchants API",
        "description": "Indicates you all the actions you can do this api",
        "operationId": "GetMarketplaceMerchantApiIndex",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Marketplace Merchant Api Index",
            "schema": {
              "$ref": "#/definitions/marketplaceMerchantApiIndex"
            }
          },
          "404": {
            "$ref": "#/responses/marketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/incoming": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Merchants"
        ],
        "summary": "Get the list of incoming merchants related to a marketplace",
        "operationId": "GetIncomingMerchantList",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/pageSizeQueryStringParameter"
          },
          {
            "$ref": "#/parameters/pageNumberQueryStringParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/incomingMerchantListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/incomingMerchantList"
            }
          },
          "404": {
            "$ref": "#/responses/marketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/incoming/{merchantCode}": {
      "get": {
        "tags": [
          "Marketplace - Merchants API - Merchants"
        ],
        "summary": "Get the incoming merchant",
        "operationId": "GetIncomingMerchantIndex",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The incoming merchant index",
            "schema": {
              "$ref": "#/definitions/incomingMerchantIndex"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/outgoing": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Merchants"
        ],
        "summary": "Get the list of outgoing merchants related to a marketplace",
        "operationId": "GetOutgoingMerchantList",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/pageSizeQueryStringParameter"
          },
          {
            "$ref": "#/parameters/pageNumberQueryStringParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/outgoingMerchantListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outgoingMerchantList"
            }
          },
          "404": {
            "$ref": "#/responses/marketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/outgoing/{merchantCode}": {
      "get": {
        "tags": [
          "Marketplace - Merchants API - Merchants"
        ],
        "summary": "Get the outgoing merchant",
        "operationId": "GetOutgoingMerchantIndex",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The outgoing merchant index",
            "schema": {
              "$ref": "#/definitions/outgoingMerchantIndex"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/{merchantCode}/apiCredential": {
      "get": {
        "tags": [
          "Marketplace - Merchants API - Api Credentials"
        ],
        "summary": "Get the merchant API credential",
        "operationId": "GetMerchantApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant API credential",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Marketplace - Merchants API - Api Credentials"
        ],
        "summary": "Save the marketplace API credential",
        "operationId": "SaveMerchantApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "credential",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant API credentials saved"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/invalidMarketplaceCredential"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/{merchantCode}/subscription/accept": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Subscription"
        ],
        "summary": "Accept a merchant subscription to a marketplace",
        "operationId": "AcceptMerchantSubscription",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant subscription accepted"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/{merchantCode}/subscription/decline": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Subscription"
        ],
        "summary": "Decline a merchant subscription to a marketplace",
        "operationId": "DeclineMerchantSubscription",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "reason",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/merchantMarketplaceSubscriptionRefusalReason"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant subscription declined"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/{merchantCode}/subscription/block": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Subscription"
        ],
        "summary": "Block a merchant subscription to the marketplace",
        "operationId": "BlockMerchantSubscription",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "reason",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/merchantMarketplaceSubscriptionRefusalReason"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant subscription blocked"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/merchants/v1/{marketplaceCode}/{merchantCode}/configureMarketplaceMerchantCode": {
      "post": {
        "tags": [
          "Marketplace - Merchants API - Marketplace Merchant Code"
        ],
        "summary": "Configure marketplace merchant code",
        "description": "By configuring the merchant identifier of the marketplace the marketplace will be able  to found the merchant easily using this identifier",
        "operationId": "ConfigureMarketplaceMerchantCode",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "marketplaceMerchantCode",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceMerchantCode"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Marketplace merchant code configured"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/offers/v1/{marketplaceCode}/{merchantCode}/events": {
      "post": {
        "tags": [
          "Marketplace API - Offers - Global"
        ],
        "summary": "Push a batch of merchant marketplace offers events",
        "operationId": "PushMerchantOfferEvents",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 1000,
              "items": {
                "$ref": "#/definitions/merchantOfferEventBase"
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The merchant offers changes have been received"
          },
          "400": {
            "$ref": "#/responses/offerBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/offers/v1/{marketplaceCode}/{merchantCode}/list": {
      "get": {
        "tags": [
          "Marketplace API - Offers - Global"
        ],
        "summary": "Get merchant offer list",
        "operationId": "GetMerchantOfferList",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/pageNumberQueryStringParameter"
          },
          {
            "$ref": "#/parameters/pageSizeQueryStringParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant offer list",
            "schema": {
              "$ref": "#/definitions/merchantOfferPaginatedList"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/offers/v1/{marketplaceCode}/{merchantCode}/{sku}": {
      "get": {
        "tags": [
          "Marketplace API - Offers - Global"
        ],
        "summary": "Get merchant offer",
        "operationId": "GetMerchantOffer",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/skuPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant offer",
            "schema": {
              "$ref": "#/definitions/merchantOffer"
            }
          },
          "404": {
            "$ref": "#/responses/offerNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/orders/v1/{marketplaceCode}/{merchantCode}/events": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Batches"
        ],
        "operationId": "PushMerchantOrdersEvents",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/batchMerchantMarketplaceOrders"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant orders changes have been saved!"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "403": {
            "description": "The merchant has disabled the marketplace",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/orders/v1/{marketplaceCode}/{merchantCode}/{marketplaceOrderId}/changes/{correlationId}/done": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order Change Reporting"
        ],
        "operationId": "OrderChangeStatusCompleted",
        "summary": "Declare the completion of the order change request by the marketplace",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/correlationIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant orders changes have been saved!"
          },
          "400": {
            "description": "Something wrong in the request, please check the documentation.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderChangeNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/orders/v1/{marketplaceCode}/{merchantCode}/{marketplaceOrderId}/changes/{correlationId}/failed": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order Change Reporting"
        ],
        "operationId": "OrderChangeStatusFailed",
        "summary": "Declare the failure of the order change request by the marketplace",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/correlationIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The error that explains to the merchant why the order change has failed",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant order change failure has been processed"
          },
          "400": {
            "description": "Something wrong in the request, please check the documentation.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderChangeNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/orders/v1/{marketplaceCode}/{merchantCode}/list": {
      "get": {
        "tags": [
          "Marketplaces - Orders - Global"
        ],
        "summary": "Get order list",
        "operationId": "GetOrderList",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/pageNumberQueryStringParameter"
          },
          {
            "$ref": "#/parameters/pageSizeQueryStringParameter"
          },
          {
            "name": "imnLastModificationUtcDate",
            "in": "query",
            "type": "string",
            "format": "DateTime"
          }
        ],
        "responses": {
          "200": {
            "description": "The paginated order list",
            "schema": {
              "$ref": "#/definitions/orderInfoPaginatedList"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/orders/v1/{marketplaceCode}/{merchantCode}/{marketplaceOrderId}": {
      "get": {
        "tags": [
          "Marketplaces - Orders - Global"
        ],
        "summary": "Get order",
        "operationId": "GetOrder",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The order",
            "schema": {
              "$ref": "#/definitions/orderInfo"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/lov/v1/": {
      "get": {
        "summary": "Get all list names",
        "operationId": "GetUserLovIndex",
        "tags": [
          "Marketplace API - List of Values - LOV"
        ],
        "responses": {
          "200": {
            "description": "Get the list names",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/userLovIndex"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/lov/v1/{listName}": {
      "get": {
        "tags": [
          "Marketplace API - List of Values - LOV"
        ],
        "summary": "Get the list of values related to this list name",
        "operationId": "GetUserListOfValues",
        "parameters": [
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The list of value name your want to get",
            "type": "string"
          },
          {
            "$ref": "#/parameters/acceptLanguageParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of values",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              },
              "Content-Language": {
                "description": "Indicates the language use in the response",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/userListOfValuesResponse"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "List not found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    }
  },
  "definitions": {
    "marketplaceMerchantApiIndexLinks": {
      "type": "object",
      "required": [
        "incoming",
        "outgoing"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetMarketplaceMerchantApiIndexLink"
        },
        "incoming": {
          "$ref": "#/definitions/links.GetIncomingMerchantListLink"
        },
        "outgoing": {
          "$ref": "#/definitions/links.GetOutgoingMerchantListLink"
        }
      }
    },
    "marketplaceMerchantApiIndex": {
      "type": "object",
      "required": [
        "links"
      ],
      "properties": {
        "links": {
          "$ref": "#/definitions/marketplaceMerchantApiIndexLinks"
        }
      }
    },
    "merchantListOrderBy": {
      "type": "object",
      "required": [
        "propertyName"
      ],
      "properties": {
        "propertyName": {
          "$ref": "#/definitions/merchantListOrderByOn"
        },
        "sort": {
          "$ref": "#/definitions/sort"
        }
      }
    },
    "incomingMerchantListRequest": {
      "type": "object",
      "properties": {
        "orderBy": {
          "$ref": "#/definitions/merchantListOrderBy"
        },
        "searchCompanyName": {
          "type": "string",
          "description": "Search merchants by company name",
          "example": "Literie"
        },
        "searchMerchantCode": {
          "type": "string",
          "description": "Search merchants by the code",
          "example": "MLT"
        },
        "searchMarketplaceMerchantCode": {
          "type": "string",
          "description": "Search merchants bymarketplace MerchantCode",
          "example": 50041
        },
        "searchContactEmail": {
          "type": "string",
          "description": "Search merchants by contact Email",
          "example": "contact@ma-boutique-en-ligne.com"
        },
        "searchContactName": {
          "type": "string",
          "description": "Search merchants by the contact name",
          "example": "Johnson"
        },
        "searchContactPhone": {
          "type": "string",
          "description": "Search merchants by the ContactPhone",
          "example": 33711223344
        },
        "filterSubscriptionRequestUtcDateFrom": {
          "type": "string",
          "format": "date-time",
          "description": "filter merchants From beginning subscription request date"
        },
        "filterSubscriptionRequestUtcDateTo": {
          "type": "string",
          "format": "date-time",
          "description": "filter merchants by subscription request date"
        },
        "filterCountry": {
          "type": "string",
          "description": "filter merchants by country code",
          "example": "FRA"
        },
        "filterSourceMarketplaceCode": {
          "type": "string",
          "description": "filter merchants by Source MarketplaceCode",
          "example": "C1"
        },
        "filterCredentialStatus": {
          "$ref": "#/definitions/marketplaceCredentialStatus"
        },
        "filterSubscriptionStatus": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "filterofferPublicationStatus": {
          "$ref": "#/definitions/marketplaceOfferPublicationStatus"
        }
      }
    },
    "outgoingMerchantListRequest": {
      "type": "object",
      "properties": {
        "orderBy": {
          "$ref": "#/definitions/merchantListOrderBy"
        },
        "searchCompanyName": {
          "type": "string",
          "description": "Search merchants by the company name",
          "example": "Literie"
        },
        "searchMerchantCode": {
          "type": "string",
          "description": "Search merchants by the code",
          "example": "MLT"
        },
        "searchMarketplaceMerchantCode": {
          "type": "string",
          "description": "Search merchants by the marketplaceMerchantCode",
          "example": 50041
        },
        "searchContactEmail": {
          "type": "string",
          "description": "Search merchants by the contactEmail",
          "example": "contact@ma-boutique-en-ligne.com"
        },
        "searchContactName": {
          "type": "string",
          "description": "Search merchants by the contact name",
          "example": "Johnson"
        },
        "searchContactPhone": {
          "type": "string",
          "description": "Search merchants by the ContactPhone",
          "example": 33711223344
        },
        "filterCreationUtcDateFrom": {
          "type": "string",
          "format": "date-time",
          "description": "filter merchants by From beginning creation date"
        },
        "filterCreationUtcDateTo": {
          "type": "string",
          "format": "date-time",
          "description": "filter merchants by to ending creation date"
        },
        "filterCountry": {
          "type": "string",
          "description": "filter merchants by country code",
          "example": "FRA"
        },
        "filterSubscriptionStatus": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "filterofferPublicationStatus": {
          "$ref": "#/definitions/marketplaceOfferPublicationStatus"
        }
      }
    },
    "incomingMerchantList": {
      "type": "object",
      "required": [
        "links"
      ],
      "properties": {
        "links": {
          "$ref": "#/definitions/incomingMerchantListLinks"
        },
        "merchants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/incomingMerchantIndex"
          }
        },
        "paginationResult": {
          "$ref": "#/definitions/paginationResult"
        }
      }
    },
    "outgoingMerchantList": {
      "type": "object",
      "required": [
        "links"
      ],
      "properties": {
        "links": {
          "$ref": "#/definitions/outgoingMerchantListLinks"
        },
        "merchants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/outgoingMerchantIndex"
          }
        },
        "paginationResult": {
          "$ref": "#/definitions/paginationResult"
        }
      }
    },
    "links.GetMerchantApiCredentialLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetMerchantIndexLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetIncomingMerchantIndexLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetOutgoingMerchantIndexLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.AcceptMerchantSubscriptionLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.DeclineMerchantSubscriptionLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.BlockMerchantSubscriptionLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetMarketplaceMerchantApiIndexLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetIncomingMerchantListLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.GetOutgoingMerchantListLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "incomingMerchantInfoLinks": {
      "type": "object",
      "required": [
        "self",
        "apiCredential"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetIncomingMerchantIndexLink"
        },
        "apiCredential": {
          "$ref": "#/definitions/links.GetMerchantApiCredentialLink"
        },
        "acceptSubscription": {
          "$ref": "#/definitions/links.AcceptMerchantSubscriptionLink"
        },
        "declineSubscription": {
          "$ref": "#/definitions/links.DeclineMerchantSubscriptionLink"
        },
        "blockSubscription": {
          "$ref": "#/definitions/links.BlockMerchantSubscriptionLink"
        }
      }
    },
    "incomingMerchantListLinks": {
      "type": "object",
      "required": [
        "self"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetIncomingMerchantListLink"
        }
      }
    },
    "outgoingMerchantListLinks": {
      "type": "object",
      "required": [
        "self"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetOutgoingMerchantListLink"
        }
      }
    },
    "outgoingMerchantInfoLinks": {
      "type": "object",
      "required": [
        "self",
        "apiCredential"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetOutgoingMerchantIndexLink"
        },
        "apiCredential": {
          "$ref": "#/definitions/links.GetMerchantApiCredentialLink"
        }
      }
    },
    "incomingMerchantIndex": {
      "type": "object",
      "required": [
        "info",
        "links"
      ],
      "properties": {
        "info": {
          "$ref": "#/definitions/incomingMerchantInfo"
        },
        "links": {
          "$ref": "#/definitions/incomingMerchantInfoLinks"
        }
      }
    },
    "outgoingMerchantIndex": {
      "type": "object",
      "required": [
        "info",
        "links"
      ],
      "properties": {
        "info": {
          "$ref": "#/definitions/outgoingMerchantInfo"
        },
        "links": {
          "$ref": "#/definitions/outgoingMerchantInfoLinks"
        }
      }
    },
    "merchantInfo": {
      "type": "object",
      "required": [
        "code",
        "email",
        "companyName",
        "country",
        "firstName",
        "lastName",
        "phoneNumber",
        "creationUtcDate"
      ],
      "properties": {
        "code": {
          "$ref": "#/definitions/merchantCode"
        },
        "email": {
          "$ref": "#/definitions/email"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "creationUtcDate": {
          "type": "string",
          "format": "date-time"
        },
        "importedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "Imported offer count from the source marketplace"
        }
      }
    },
    "merchantTargetMarketplaceInfo": {
      "type": "object",
      "required": [
        "subscriptionStatus",
        "credentialStatus",
        "shippingSettingsStatus",
        "offerPublicationStatusd",
        "targetMarketplaceCode"
      ],
      "properties": {
        "subscriptionRequestUtcDate": {
          "type": "string",
          "format": "date-time",
          "description": "date the merchant pushed his registration to the marketplace (through SF), can be null when a merchant already has an"
        },
        "subscriptionStatus": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "credentialStatus": {
          "$ref": "#/definitions/marketplaceCredentialStatus"
        },
        "shippingSettingsStatus": {
          "$ref": "#/definitions/marketplaceShippingSettingsStatus"
        },
        "offerPublicationStatus": {
          "$ref": "#/definitions/marketplaceOfferPublicationStatus"
        },
        "publishedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "Effective offer count published to the target marketplace"
        },
        "publishableOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "Publishable offer count to the target marketplace"
        },
        "targetMarketplaceCode": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "targetMarketplaceMerchantCode": {
          "$ref": "#/definitions/marketplaceMerchantCode"
        }
      }
    },
    "incomingMerchantInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/merchantInfo"
        },
        {
          "$ref": "#/definitions/merchantTargetMarketplaceInfo"
        },
        {
          "type": "object",
          "required": [
            "code",
            "email",
            "companyName",
            "firstName",
            "lastName",
            "phoneNumber",
            "creationUtcDate",
            "subscriptionStatus",
            "credentialStatus",
            "shippingSettingsStatus",
            "offerPublicationStatus",
            "incomingUtcDate"
          ],
          "properties": {
            "sourceMarketplaceCode": {
              "$ref": "#/definitions/marketplaceCode"
            },
            "orderCount": {
              "type": "integer",
              "format": "int32",
              "example": 102
            },
            "turnOver": {
              "type": "number",
              "format": "decimal",
              "example": 10602.23
            },
            "currencyCode": {
              "$ref": "#/definitions/currencyCode"
            },
            "subscriptionHistory": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/marketplaceSubcriptionReporting"
              }
            },
            "incomingUtcDate": {
              "type": "string",
              "format": "date-time"
            },
            "salesforceSubscriptionUrl": {
              "type": "string"
            },
            "ecommerceSoftwareName": {
              "$ref": "#/definitions/ecommerceSoftwareName"
            }
          }
        }
      ]
    },
    "marketplaceSubcriptionReporting": {
      "type": "object",
      "required": [
        "senderEmail",
        "utcDate",
        "status"
      ],
      "properties": {
        "senderEmail": {
          "$ref": "#/definitions/email"
        },
        "utcDate": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "$ref": "#/definitions/marketplaceSubscriptionStatus"
        },
        "message": {
          "type": "string"
        },
        "salesforceSubscriptionId": {
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "example": "127.0.0.1"
        }
      }
    },
    "outgoingMerchantInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/merchantInfo"
        },
        {
          "type": "object",
          "required": [
            "code",
            "email",
            "companyName",
            "firstName",
            "lastName",
            "phoneNumber",
            "sourceMarketplaceCode",
            "creationUtcDate",
            "credentialStatus"
          ],
          "properties": {
            "sourceMarketplaceCode": {
              "$ref": "#/definitions/marketplaceCode"
            },
            "sourceMarketplaceMerchantCode": {
              "$ref": "#/definitions/marketplaceMerchantCode"
            },
            "targetMarketplaces": {
              "type": "object",
              "description": "The key is the marketplace code",
              "additionalProperties": {
                "$ref": "#/definitions/merchantTargetMarketplaceInfo"
              }
            },
            "credentialStatus": {
              "$ref": "#/definitions/marketplaceCredentialStatus"
            },
            "salesforceSubscriptionUrl": {
              "type": "string"
            }
          }
        }
      ]
    },
    "merchantListOrderByOn": {
      "type": "string",
      "description": "Indicates on which property you want to order by the list of merchant",
      "default": "modificationUtcDate",
      "enum": [
        "merchantCode",
        "creationUtcDate",
        "modificationUtcDate",
        "subscriptionRequestUtcDate"
      ]
    },
    "userLovIndex": {
      "type": "object",
      "properties": {
        "links": {
          "$ref": "#/definitions/userLovIndexLinks"
        }
      }
    },
    "userLovIndexLinks": {
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetUserLovIndexLink"
        },
        "lists": {
          "$ref": "#/definitions/userLovLinks"
        }
      }
    },
    "userLovLinks": {
      "description": "List of lov link. The key is the list name.",
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/links.GetUserListOfValuesLink"
      }
    },
    "links.GetUserListOfValuesLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/v1/user/lov/Go2CultureName",
            "method": "GET"
          }
        }
      ]
    },
    "links.GetUserLovIndexLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/v1/user/lov",
            "method": "GET"
          }
        }
      ]
    },
    "userListOfValuesResponse": {
      "type": "object",
      "properties": {
        "links": {
          "$ref": "#/definitions/userListOfValuesResponseLinks"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/listOfValueItem"
          }
        }
      }
    },
    "userListOfValuesResponseLinks": {
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetUserListOfValuesLink"
        }
      }
    },
    "beezUPOrderId": {
      "description": "The BeezUP Order identifier",
      "type": "string"
    },
    "beezUPOrderIdentifier": {
      "description": "The BeezUP order identifier",
      "type": "object",
      "required": [
        "marketplaceTechnicalCode",
        "accountId",
        "beezUPOrderId"
      ],
      "properties": {
        "marketplaceTechnicalCode": {
          "$ref": "#/definitions/beezUPMarketplaceTechnicalCode"
        },
        "accountId": {
          "$ref": "#/definitions/beezUPMarketplaceAccountId"
        },
        "beezUPOrderId": {
          "$ref": "#/definitions/beezUPOrderId"
        }
      }
    },
    "beezUPOrderChangeExecution": {
      "x-exclude": true,
      "allOf": [
        {
          "$ref": "#/definitions/beezUPOrderIdentifier"
        },
        {
          "type": "object",
          "description": "The BeezUP order change execution",
          "required": [
            "executionId",
            "processingStatus"
          ],
          "properties": {
            "executionId": {
              "$ref": "#/definitions/beezUPExecutionId"
            },
            "processingStatus": {
              "$ref": "#/definitions/processingStatus"
            },
            "errorCode": {
              "type": "string"
            },
            "errorMessage": {
              "type": "string"
            }
          }
        }
      ]
    },
    "beezUPOrderChangeExecutionSummary": {
      "allOf": [
        {
          "$ref": "#/definitions/beezUPOrderChangeExecution"
        },
        {
          "type": "object",
          "description": "The BeezUP order change execution summary",
          "required": [
            "correlationId",
            "merchantCode",
            "marketplaceCode",
            "marketplaceOrderId"
          ],
          "properties": {
            "executionId": {
              "$ref": "#/definitions/beezUPExecutionId"
            },
            "correlationId": {
              "$ref": "#/definitions/correlationId"
            },
            "merchantCode": {
              "$ref": "#/definitions/merchantCode"
            },
            "marketplaceCode": {
              "$ref": "#/definitions/marketplaceCode"
            },
            "marketplaceOrderId": {
              "$ref": "#/definitions/marketplaceOrderId"
            }
          }
        }
      ]
    },
    "orderReceived": {
      "x-format": "Event",
      "description": "This event his a technical one. It is stored in the event hub before it's processed by the OrderActor.\nThe order actor will create business event like order created or updated.\nOrderReceived will be not be stored in the Event Store.\n",
      "allOf": [
        {
          "$ref": "#/definitions/orderMarketplaceInfo"
        }
      ]
    },
    "orderMerchantInfoConfigured": {
      "x-format": "Event",
      "type": "object",
      "required": [
        "order",
        "merchantInfo",
        "userId",
        "userEmail",
        "userIPAddress"
      ],
      "properties": {
        "order": {
          "$ref": "#/definitions/orderIdentifier"
        },
        "merchantInfo": {
          "$ref": "#/definitions/orderMerchantInfo"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "userEmail": {
          "$ref": "#/definitions/email"
        },
        "userIPAddress": {
          "description": "The IP address who request this operation",
          "type": "string",
          "example": "127.0.0.1"
        }
      }
    },
    "orderMerchantInfoCleared": {
      "x-format": "Event",
      "type": "object",
      "required": [
        "order",
        "userId",
        "userEmail",
        "userIPAddress"
      ],
      "properties": {
        "order": {
          "$ref": "#/definitions/orderIdentifier"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "userEmail": {
          "$ref": "#/definitions/email"
        },
        "userIPAddress": {
          "description": "The IP address who request this operation",
          "type": "string",
          "example": "127.0.0.1"
        }
      }
    },
    "orderChangeEventBase": {
      "x-exclude": true,
      "allOf": [
        {
          "type": "object",
          "discriminator": "eventName",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "testMode",
            "sourceType",
            "eventType"
          ],
          "properties": {
            "order": {
              "$ref": "#/definitions/orderIdentifier"
            },
            "userId": {
              "$ref": "#/definitions/userId"
            },
            "userName": {
              "$ref": "#/definitions/orderChangeUserName"
            },
            "userEmail": {
              "$ref": "#/definitions/email"
            },
            "userIPAddress": {
              "description": "The IP address who request this operation",
              "type": "string",
              "example": "127.0.0.1"
            },
            "testMode": {
              "description": "This operation was a test",
              "type": "boolean",
              "example": false
            },
            "sourceType": {
              "$ref": "#/definitions/operationSourceType"
            },
            "eventType": {
              "type": "string",
              "description": "The event type occured on the order"
            }
          }
        }
      ]
    },
    "orderAccepted": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        }
      ]
    },
    "orderRefused": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        }
      ]
    },
    "orderShipped": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "carrierCode",
            "trackingNumber",
            "testMode",
            "sourceType"
          ],
          "properties": {
            "carrierCode": {
              "$ref": "#/definitions/carrierCode"
            },
            "trackingNumber": {
              "$ref": "#/definitions/trackingNumber"
            }
          }
        }
      ]
    },
    "orderShippedWithTrackingUrl": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "carrierName",
            "trackingNumber",
            "trackingUrl",
            "testMode",
            "sourceType"
          ],
          "properties": {
            "carrierName": {
              "$ref": "#/definitions/carrierName"
            },
            "trackingNumber": {
              "$ref": "#/definitions/trackingNumber"
            },
            "trackingUrl": {
              "$ref": "#/definitions/trackingUrl"
            }
          }
        }
      ]
    },
    "orderRefunded": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "refundReason",
            "testMode",
            "sourceType"
          ],
          "properties": {
            "refundReason": {
              "$ref": "#/definitions/refundReason"
            }
          }
        }
      ]
    },
    "orderCancelled": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeEventBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "cancellationReason",
            "testMode",
            "sourceType"
          ],
          "properties": {
            "cancellationReason": {
              "$ref": "#/definitions/cancellationReason"
            }
          }
        }
      ]
    },
    "orderChangeCompleted": {
      "x-format": "Event",
      "type": "object",
      "required": [
        "order",
        "status"
      ],
      "properties": {
        "order": {
          "$ref": "#/definitions/orderIdentifier"
        },
        "status": {
          "$ref": "#/definitions/processingStatus"
        },
        "error": {
          "$ref": "#/definitions/userErrorMessage"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "userEmail": {
          "$ref": "#/definitions/email"
        },
        "userIPAddress": {
          "description": "The IP address who request this operation",
          "type": "string",
          "example": "127.0.0.1"
        }
      }
    },
    "orderShipmentOverdue": {
      "x-format": "Event",
      "type": "object",
      "required": [
        "order"
      ],
      "properties": {
        "order": {
          "$ref": "#/definitions/orderIdentifier"
        }
      }
    },
    "batchMerchantMarketplaceOrders": {
      "x-format": "Message",
      "type": "object",
      "description": "Create or replace orders for one marketplace for one merchant",
      "required": [
        "orders"
      ],
      "properties": {
        "orders": {
          "type": "array",
          "description": "Orders that need to be created or replaced",
          "minItems": 1,
          "maxItems": 1000,
          "items": {
            "$ref": "#/definitions/orderMarketplaceInfo"
          }
        }
      }
    },
    "configureOrderMerchantInfo": {
      "x-format": "Command",
      "type": "object",
      "required": [
        "order",
        "merchantInfo",
        "userId",
        "userEmail",
        "userIPAddress"
      ],
      "properties": {
        "order": {
          "$ref": "#/definitions/orderIdentifier"
        },
        "merchantInfo": {
          "$ref": "#/definitions/orderMerchantInfo"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "userEmail": {
          "$ref": "#/definitions/email"
        },
        "userIPAddress": {
          "description": "The IP address who request this operation",
          "type": "string",
          "example": "127.0.0.1"
        }
      }
    },
    "clearOrderMerchantInfo": {
      "x-format": "Command",
      "type": "object",
      "required": [
        "order",
        "userId",
        "userEmail",
        "userIPAddress"
      ],
      "properties": {
        "order": {
          "$ref": "#/definitions/orderIdentifier"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "userEmail": {
          "$ref": "#/definitions/email"
        },
        "userIPAddress": {
          "description": "The IP address who request this operation",
          "type": "string",
          "example": "127.0.0.1"
        }
      }
    },
    "orderChangeCommandBase": {
      "x-exclude": true,
      "type": "object",
      "required": [
        "order",
        "userId",
        "userName",
        "userEmail",
        "userIPAddress",
        "testMode",
        "sourceType",
        "etag"
      ],
      "properties": {
        "order": {
          "$ref": "#/definitions/orderIdentifier"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "userName": {
          "$ref": "#/definitions/orderChangeUserName"
        },
        "userEmail": {
          "$ref": "#/definitions/email"
        },
        "userIPAddress": {
          "description": "The IP address who request this operation",
          "type": "string",
          "example": "127.0.0.1"
        },
        "testMode": {
          "description": "This operation was a test",
          "type": "boolean",
          "example": false
        },
        "sourceType": {
          "$ref": "#/definitions/operationSourceType"
        },
        "etag": {
          "$ref": "#/definitions/orderEtag"
        }
      }
    },
    "acceptOrder": {
      "x-format": "Command",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeCommandBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "testMode",
            "sourceType",
            "etag"
          ],
          "properties": {
            "etag": {
              "$ref": "#/definitions/orderEtag"
            }
          }
        }
      ]
    },
    "refuseOrder": {
      "x-format": "Command",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeCommandBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "testMode",
            "sourceType",
            "etag"
          ],
          "properties": {
            "etag": {
              "$ref": "#/definitions/orderEtag"
            }
          }
        }
      ]
    },
    "shipOrder": {
      "x-format": "Command",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeCommandBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "carrierCode",
            "trackingNumber",
            "testMode",
            "sourceType",
            "etag"
          ],
          "properties": {
            "carrierCode": {
              "$ref": "#/definitions/carrierCode"
            },
            "trackingNumber": {
              "$ref": "#/definitions/trackingNumber"
            },
            "etag": {
              "$ref": "#/definitions/orderEtag"
            }
          }
        }
      ]
    },
    "shipOrderWithTrackingUrl": {
      "x-format": "Command",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeCommandBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "carrierName",
            "trackingNumber",
            "trackingUrl",
            "testMode",
            "sourceType",
            "etag"
          ],
          "properties": {
            "carrierName": {
              "$ref": "#/definitions/carrierName"
            },
            "trackingNumber": {
              "$ref": "#/definitions/trackingNumber"
            },
            "trackingUrl": {
              "$ref": "#/definitions/trackingUrl"
            },
            "etag": {
              "$ref": "#/definitions/orderEtag"
            }
          }
        }
      ]
    },
    "refundOrder": {
      "x-format": "Command",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeCommandBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "refundReason",
            "testMode",
            "sourceType",
            "etag"
          ],
          "properties": {
            "refundReason": {
              "$ref": "#/definitions/refundReason"
            },
            "etag": {
              "$ref": "#/definitions/orderEtag"
            }
          }
        }
      ]
    },
    "cancelOrder": {
      "x-format": "Command",
      "allOf": [
        {
          "$ref": "#/definitions/orderChangeCommandBase"
        },
        {
          "type": "object",
          "required": [
            "order",
            "userId",
            "userName",
            "userEmail",
            "userIPAddress",
            "cancellationReason",
            "testMode",
            "sourceType",
            "etag"
          ],
          "properties": {
            "cancellationReason": {
              "$ref": "#/definitions/cancellationReason"
            },
            "etag": {
              "$ref": "#/definitions/orderEtag"
            }
          }
        }
      ]
    },
    "abortOrderChange": {
      "x-format": "Command",
      "type": "object",
      "required": [
        "order"
      ],
      "properties": {
        "order": {
          "$ref": "#/definitions/orderIdentifier"
        },
        "userId": {
          "$ref": "#/definitions/userId"
        },
        "userEmail": {
          "$ref": "#/definitions/email"
        },
        "userIPAddress": {
          "description": "The IP address who request this operation",
          "type": "string",
          "example": "127.0.0.1"
        }
      }
    },
    "orderManagementDisabledException": {
      "x-format": "Exception",
      "x-transient": false,
      "x-technical": false,
      "description": "The merchant '{merchantCode}' has disabled the order management for marketplace '{marketplaceCode}'.\n",
      "type": "object",
      "required": [
        "marketplaceCode",
        "merchantCode"
      ],
      "properties": {
        "marketplaceCode": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        }
      }
    },
    "orderExceptionsBase": {
      "x-exclude": true,
      "type": "object",
      "required": [
        "marketplaceCode",
        "merchantCode",
        "marketplaceOrderId"
      ],
      "properties": {
        "marketplaceCode": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "marketplaceOrderId": {
          "$ref": "#/definitions/marketplaceOrderId"
        }
      }
    },
    "duplicateOrderOperationException": {
      "x-format": "Exception",
      "x-transient": false,
      "x-technical": false,
      "description": "Duplicate operation on the order '{marketplaceOrderId}' has been {duplicateCount} times for the marketplace '{marketplaceCode}' and the merchant '{merchantCode}'.\n",
      "allOf": [
        {
          "$ref": "#/definitions/orderExceptionsBase"
        },
        {
          "type": "object",
          "required": [
            "duplicateCount"
          ],
          "properties": {
            "duplicateCount": {
              "type": "integer",
              "minimum": 2
            }
          }
        }
      ]
    },
    "orderNotFoundException": {
      "x-format": "Exception",
      "x-transient": false,
      "x-technical": false,
      "description": "The order '{marketplaceOrderId}' is not found for the marketplace '{marketplaceCode}' and the merchant '{merchantCode}'\n",
      "allOf": [
        {
          "$ref": "#/definitions/orderExceptionsBase"
        }
      ]
    },
    "orderInvalidEtagException": {
      "x-format": "Exception",
      "x-transient": false,
      "x-technical": false,
      "description": "The order change cannot be applied because the '{invalidETag}' does not match the expetected one '{expectedETag}'.\nPlease reload your order and send the latest etag to change the order.\nIf the problem persist please contact our support team.\nMarkeplaceOrderId: '{marketplaceOrderId}'\nMarketplace: '{marketplaceCode}'\nMerchant: '{merchantCode}'\n",
      "allOf": [
        {
          "$ref": "#/definitions/orderExceptionsBase"
        },
        {
          "type": "object",
          "required": [
            "marketplaceCode",
            "merchantCode",
            "marketplaceOrderId",
            "invalidETag",
            "expectedETag"
          ],
          "properties": {
            "invalidETag": {
              "$ref": "#/definitions/orderEtag"
            },
            "expectedETag": {
              "$ref": "#/definitions/orderEtag"
            }
          }
        }
      ]
    },
    "orderChangeInvalidException": {
      "x-format": "Exception",
      "x-transient": false,
      "x-technical": false,
      "description": "The order change type '{orderChangeType}' cannot be applied because the status of the order is '{imnOrderStatus}.\nIf the problem persist please contact our support team.\nMarketplaceOrderId: '{marketplaceOrderId}'\nMarketplace: '{marketplaceCode}'\nMerchant: '{merchantCode}'\n",
      "allOf": [
        {
          "$ref": "#/definitions/orderExceptionsBase"
        },
        {
          "type": "object",
          "required": [
            "marketplaceCode",
            "merchantCode",
            "marketplaceOrderId",
            "orderChangeType",
            "imnOrderStatus"
          ],
          "properties": {
            "orderChangeType": {
              "$ref": "#/definitions/orderChangeType"
            },
            "imnOrderStatus": {
              "$ref": "#/definitions/imnOrderStatus"
            }
          }
        }
      ]
    },
    "orderChangeNotFoundException": {
      "x-format": "Exception",
      "x-transient": false,
      "x-technical": false,
      "description": "The order change '{correlationId}' is not found.\nMarketplaceOrderId: '{marketplaceOrderId}'\nMarketplace: '{marketplaceCode}'\nMerchant: '{merchantCode}'\n",
      "allOf": [
        {
          "$ref": "#/definitions/orderExceptionsBase"
        },
        {
          "type": "object",
          "required": [
            "marketplaceCode",
            "merchantCode",
            "marketplaceOrderId",
            "correlationId"
          ],
          "properties": {
            "correlationId": {
              "$ref": "#/definitions/correlationId"
            }
          }
        }
      ]
    },
    "orderChangeAlreadyInProgressException": {
      "x-format": "Exception",
      "x-transient": false,
      "x-technical": false,
      "description": "There is an order change currently is progress for the '{marketplaceOrderId}' for the marketplace '{marketplaceCode}' and the merchant '{merchantCode}'. |\nCurrent CorrelationId: '{currentCorrelationId}'\n",
      "allOf": [
        {
          "$ref": "#/definitions/orderExceptionsBase"
        },
        {
          "type": "object",
          "required": [
            "marketplaceCode",
            "merchantCode",
            "marketplaceOrderId",
            "currentCorrelationId"
          ],
          "properties": {
            "currentCorrelationId": {
              "$ref": "#/definitions/correlationId"
            }
          }
        }
      ]
    },
    "orderChangeTimeoutException": {
      "x-format": "Exception",
      "x-transient": false,
      "x-technical": false,
      "description": "The order change '{correlationId}': '{orderChangeType}' has received no response from the marketplace. The operation has timed out.\n",
      "allOf": [
        {
          "$ref": "#/definitions/orderExceptionsBase"
        },
        {
          "type": "object",
          "required": [
            "marketplaceCode",
            "merchantCode",
            "marketplaceOrderId",
            "correlationId",
            "orderChangeType"
          ],
          "properties": {
            "correlationId": {
              "$ref": "#/definitions/correlationId"
            },
            "orderChangeType": {
              "$ref": "#/definitions/orderChangeType"
            }
          }
        }
      ]
    },
    "imnOrderStatus": {
      "type": "string",
      "description": "IMN order status. Unified for all marketplaces.",
      "example": "shipped",
      "x-lov": "imnOrderStatus",
      "enum": [
        "New",
        "Pending",
        "InProgress",
        "Received",
        "Shipped",
        "Cancelled",
        "Closed",
        "AvailableOnStore"
      ]
    },
    "marketplaceOrderStatus": {
      "description": "The marketplace order state",
      "type": "string",
      "example": "In_progress_3"
    },
    "marketplaceOrderId": {
      "description": "The order marketplace identifier",
      "type": "string",
      "example": "CDISCOUNT12345"
    },
    "orderChangeUserName": {
      "type": "string",
      "description": "The name of the user who did the order change"
    },
    "merchantOrderId": {
      "description": "The order merchant identifier",
      "type": "string",
      "example": "MyOrderMerchantId"
    },
    "merchantECommerceSoftwareVersion": {
      "description": "The e-commece software version of the merchant",
      "type": "string",
      "example": "123.0.1"
    },
    "orderDateSearchType": {
      "description": "Indicates on which date you want to make the filter",
      "type": "string",
      "enum": [
        "IMNModification",
        "Purchase",
        "MarketplaceModification"
      ],
      "default": "IMNModification"
    },
    "orderEtag": {
      "description": "ETag value to identify the order.\\\nThis information is required for the operation GetOrder and ChangeOrder.\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n",
      "type": "string",
      "example": "\"ca071a4580129f932a03971968ffef69\""
    },
    "orderProcessing": {
      "description": "If true, there is currently a harvest or an order change in progress. Otherwise false.",
      "type": "boolean",
      "example": false
    },
    "orderIdentifier": {
      "type": "object",
      "required": [
        "marketplaceCode",
        "merchantCode",
        "marketplaceOrderId"
      ],
      "properties": {
        "marketplaceCode": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "marketplaceOrderId": {
          "$ref": "#/definitions/marketplaceOrderId"
        }
      }
    },
    "carrierName": {
      "type": "string",
      "description": "The carrier name related to the shipping",
      "example": "My special carrier name"
    },
    "trackingUrl": {
      "type": "string",
      "description": "The tracking url related to the shipping",
      "example": "https://trackingpackage.com?number=1H01845163783"
    },
    "trackingNumber": {
      "type": "string",
      "description": "The shipper tracking number related to the shipping",
      "example": "1H01845163783"
    },
    "carrierCode": {
      "type": "string",
      "example": "MondialRelay",
      "description": "The carrier code related to the shipping\n* DeutschePost: DeutschePost\n* DHL: DHL\n* GLS: GLS\n* TNT: TNT\n* UPS: UPS\n* DPD: DPD\n* FEDEX: FEDEX\n* 4PX: 4PX\n* Bpost: Bpost\n* ChinaEMSePacket: China EMS (ePacket)\n* ChinaPost: China Post\n* Chronopost: Chronopost\n* CNEExpress: CNE Express\n* ColisPrive: Colis PrivÃ©\n* Colissimo: Colissimo\n* GEODIS: GEODIS\n* LaPosteCourrier: La Poste - Courrier\n* MalaysiaPost: Malaysia Post\n* MondialRelay: Mondial Relay\n* PostNL: PostNL\n* RelaisColis: Relais Colis\n* RoyalMail: Royal Mail\n* SFExpress: SF Express\n* SFCService: SFC Service\n* SingaporePost: Singapore Post\n* USPS: USPS\n* Yanwen: Yanwen\n* AMATI: AMATI\n* BRTID: BRTID\n* BRTRIFMIT: BRTRIFMIT\n* BRTSPED: BRTSPED\n* CORREOS: CORREOS\n* ENERGO: ENERGO\n* FERCAM: FERCAM\n* NEXIVE: NEXIVE\n* ItalianPost: Italian Post\n* SDA: SDA\n* SGTFlyer: SGT Flyer\n* TECNOTRANS: TECNOTRANS\n* Bursped: Bursped\n* Cargoline: Cargoline\n* Computeruniverse: Computeruniverse\n* Dachser: Dachser\n* DHLFreight: DHL Freight\n* dtl: dtl\n* Emons: Emons\n* GEL: GEL\n* Hellmann: Hellmann\n* Hermes: Hermes\n* Hermes2MH: Hermes 2 MH\n* IDSLogistik: IDS Logistik\n* Iloxx: Iloxx\n* KuehneNagel: Kuehne & Nagel\n* Marktanlieferung: Marktanlieferung\n* Rhenus: Rhenus\n* Schenker: Schenker\n* SpeditionGuettler: Spedition Guettler\n",
      "enum": [
        "DeutschePost",
        "DHL",
        "GLS",
        "TNT",
        "UPS",
        "DPD",
        "FEDEX",
        "4PX",
        "Bpost",
        "ChinaEMSePacket",
        "ChinaPost",
        "Chronopost",
        "CNEExpress",
        "ColisPrive",
        "Colissimo",
        "GEODIS",
        "LaPosteCourrier",
        "MalaysiaPost",
        "MondialRelay",
        "PostNL",
        "RelaisColis",
        "RoyalMail",
        "SFExpress",
        "SFCService",
        "SingaporePost",
        "USPS",
        "Yanwen",
        "AMATI",
        "BRTID",
        "BRTRIFMIT",
        "BRTSPED",
        "CORREOS",
        "ENERGO",
        "FERCAM",
        "NEXIVE",
        "ItalianPost",
        "SDA",
        "SGTFlyer",
        "TECNOTRANS",
        "Bursped",
        "Cargoline",
        "Computeruniverse",
        "Dachser",
        "DHLFreight",
        "dtl",
        "Emons",
        "GEL",
        "Hellmann",
        "Hermes",
        "Hermes2MH",
        "IDSLogistik",
        "Iloxx",
        "KuehneNagel",
        "Marktanlieferung",
        "Rhenus",
        "Schenker",
        "SpeditionGuettler"
      ]
    },
    "cancellationReason": {
      "type": "string",
      "description": "The reason why you cancel the order",
      "enum": [
        "WrongPrice",
        "DelayedInventory",
        "WrongProductInfo",
        "BuyerFeedbackTimeout",
        "BuyerAgreement",
        "BuyerCancelled",
        "NoInventory",
        "ShippingAddressUndeliverable",
        "Other"
      ]
    },
    "refundReason": {
      "type": "string",
      "description": "The reason why you refund the order",
      "enum": [
        "BuyerWarrantyOrRetractation",
        "WrongPrice",
        "LateDelivery",
        "IncorrectDelivery",
        "IncompleteDelivery",
        "DamagedDelivery",
        "BuyerFeedbackTimeout",
        "BuyerAgreement",
        "BuyerCancelled",
        "NoInventory",
        "ShippingAddressUndeliverable",
        "Other"
      ]
    },
    "orderItems": {
      "type": "array",
      "description": "The key correspond to the order item identifier. Must be unique.",
      "items": {
        "$ref": "#/definitions/orderItem"
      }
    },
    "orderItem": {
      "description": "Describe an order item.",
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The order item identifier. Must be unique in the order.",
          "example": "1409211351GV25J-AUC2009994538238-0"
        },
        "title": {
          "description": "The title of the order item",
          "example": "bLA acide-plomb 6v-4.5ah 70x48x106mm",
          "type": "string"
        },
        "condition": {
          "description": "The condition of the order item",
          "example": "new",
          "type": "string"
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "merchantOfferSku": {
          "$ref": "#/definitions/sku"
        },
        "gtin": {
          "$ref": "#/definitions/gtin"
        },
        "marketplaceProductId": {
          "description": "The marketplace product identifier of the order item",
          "example": "MarketplaceProductId",
          "type": "string"
        },
        "marketplaceProductUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "itemPrice": {
          "description": "The price of the order item",
          "example": 6.86,
          "type": "number",
          "format": "decimal"
        },
        "itemTax": {
          "description": "The tax of the order item",
          "type": "number",
          "format": "decimal",
          "example": 0.0
        },
        "quantity": {
          "description": "The quantity of the order item",
          "example": 1,
          "type": "number",
          "format": "decimal"
        },
        "shippingPrice": {
          "description": "The shipping price of the order item",
          "type": "number",
          "example": 0.0,
          "format": "decimal"
        },
        "totalPrice": {
          "description": "The total price of the order item",
          "example": 6.86,
          "type": "number",
          "format": "decimal"
        }
      }
    },
    "orderBillingInfo": {
      "type": "object",
      "description": "The billing information related to the order",
      "properties": {
        "customer": {
          "$ref": "#/definitions/orderCustomer"
        },
        "address": {
          "$ref": "#/definitions/postalAddress"
        }
      }
    },
    "orderShippingInfo": {
      "type": "object",
      "description": "The shipping information related to the order",
      "properties": {
        "contact": {
          "$ref": "#/definitions/person"
        },
        "relayId": {
          "description": "The company name of The address for this order",
          "type": "string",
          "example": "My Company"
        },
        "address": {
          "$ref": "#/definitions/postalAddress"
        },
        "price": {
          "description": "The shipping price of this order",
          "type": "number",
          "format": "decimal",
          "example": 6.9
        },
        "method": {
          "description": "The shipping method of this order",
          "type": "string",
          "example": "DPD Domicile"
        },
        "fulfilledBy": {
          "description": "The shipment is fulfilled by",
          "type": "string",
          "example": "Cdiscount Fulfillment"
        },
        "tax": {
          "description": "The shipping tax for this order",
          "type": "number",
          "format": "decimal",
          "example": 0.0
        },
        "earliestShipUtcDate": {
          "description": "The UTC date of the earliest ship for this order",
          "type": "string",
          "example": "2017-04-02T21:30:00Z",
          "format": "date-time"
        },
        "latestShipUtcDate": {
          "description": "The UTC date of the latest ship for this order",
          "type": "string",
          "format": "date-time",
          "example": "2017-04-30T21:30:00Z"
        }
      }
    },
    "orderCustomer": {
      "allOf": [
        {
          "$ref": "#/definitions/person"
        },
        {
          "type": "object",
          "description": "The customer",
          "properties": {
            "customerIdentifier": {
              "description": "The buyer identifier for this order",
              "type": "string",
              "example": "1234567890"
            }
          }
        }
      ]
    },
    "person": {
      "type": "object",
      "properties": {
        "civility": {
          "description": "The civility of the person",
          "type": "string",
          "example": "MRS"
        },
        "firstName": {
          "$ref": "#/definitions/firstName"
        },
        "lastName": {
          "$ref": "#/definitions/lastName"
        },
        "companyName": {
          "type": "string",
          "description": "The company name of the person",
          "example": "App"
        },
        "email": {
          "$ref": "#/definitions/email"
        },
        "phoneNumber": {
          "$ref": "#/definitions/telephoneNumber"
        },
        "mobilePhoneNumber": {
          "$ref": "#/definitions/telephoneNumber"
        }
      }
    },
    "telephoneNumber": {
      "type": "string",
      "description": "The telephone number",
      "example": "+33000000042"
    },
    "postalAddress": {
      "type": "object",
      "properties": {
        "line1": {
          "description": "The address line 1",
          "type": "string",
          "example": "5 rue amÃ©lie"
        },
        "line2": {
          "description": "The address line 2",
          "type": "string",
          "example": "BDR"
        },
        "line3": {
          "description": "The address line 3",
          "type": "string",
          "example": "RDC"
        },
        "comment": {
          "description": "The comment to access to this address",
          "type": "string",
          "example": "The instructions from the buyer"
        },
        "postalCode": {
          "description": "The address postal code",
          "type": "string",
          "example": "13014"
        },
        "city": {
          "description": "The address city",
          "type": "string",
          "example": "Marseille"
        },
        "stateOrRegion": {
          "description": "The address state or region",
          "type": "string",
          "example": "BDR"
        },
        "countryName": {
          "description": "The address country name",
          "type": "string",
          "example": "France"
        },
        "countryIsoCodeAlpha2": {
          "description": "The address country iso code alpha 2 (see http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#/decoding_table for more details)",
          "type": "string",
          "example": "FR"
        }
      }
    },
    "orderGeneralInfo": {
      "type": "object",
      "required": [
        "imnOrderStatus",
        "marketplaceOrderStatus",
        "purchaseUtcDate",
        "marketplaceLastModificationUtcDate"
      ],
      "properties": {
        "imnOrderStatus": {
          "$ref": "#/definitions/imnOrderStatus"
        },
        "marketplaceOrderStatus": {
          "$ref": "#/definitions/marketplaceOrderStatus"
        },
        "purchaseUtcDate": {
          "description": "The purchase date of this order",
          "format": "date-time",
          "type": "string",
          "example": "2017-03-31T21:30:23Z"
        },
        "marketplaceLastModificationUtcDate": {
          "description": "The last modification UTC date done by the marketplace on this order",
          "format": "date-time",
          "type": "string",
          "example": "2017-04-16T10:25:23Z"
        },
        "marketplaceChannel": {
          "description": "Useful to identify the origin of the order. For example in Cdiscount.",
          "type": "string",
          "example": "Cdiscount France"
        },
        "comment": {
          "description": "The comment associated to this order",
          "type": "string",
          "example": "This is a comment"
        }
      }
    },
    "orderMarketplaceInfoPaginatedList": {
      "type": "object",
      "properties": {
        "paginationResult": {
          "$ref": "#/definitions/paginationResult"
        },
        "orders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/orderMarketplaceInfo"
          }
        }
      }
    },
    "orderInfoPaginatedList": {
      "type": "object",
      "properties": {
        "paginationResult": {
          "$ref": "#/definitions/paginationResult"
        },
        "orders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/orderInfo"
          }
        }
      }
    },
    "orderMarketplaceInfo": {
      "description": "Describe the basic information related to an order.",
      "type": "object",
      "required": [
        "identifier",
        "generalInfo",
        "pricingInfo",
        "billingInfo",
        "shippingInfo",
        "orderItems"
      ],
      "properties": {
        "identifier": {
          "$ref": "#/definitions/orderIdentifier"
        },
        "generalInfo": {
          "$ref": "#/definitions/orderGeneralInfo"
        },
        "pricingInfo": {
          "$ref": "#/definitions/orderPricingInfo"
        },
        "billingInfo": {
          "$ref": "#/definitions/orderBillingInfo"
        },
        "shippingInfo": {
          "$ref": "#/definitions/orderShippingInfo"
        },
        "orderItems": {
          "$ref": "#/definitions/orderItems"
        }
      }
    },
    "orderPricingInfo": {
      "type": "object",
      "required": [
        "totalPrice",
        "currencyCode"
      ],
      "properties": {
        "totalPrice": {
          "description": "The total price of this order (corresponding to the amount paid by the customer)",
          "format": "decimal",
          "type": "number",
          "example": 101.42
        },
        "currencyCode": {
          "$ref": "#/definitions/currencyCode"
        },
        "totalTax": {
          "description": "The total tax of this order",
          "type": "number",
          "format": "decimal",
          "example": 0.0
        },
        "totalCommission": {
          "description": "The total commission of this order",
          "type": "number",
          "format": "decimal",
          "example": 0.0
        },
        "additionalFee": {
          "description": "Additional fee related to this order",
          "type": "number",
          "format": "decimal",
          "example": 10.0
        },
        "paymentMethod": {
          "description": "The payment method of this order",
          "type": "string",
          "example": "1 / 1X"
        },
        "payingUtcDate": {
          "description": "The UTC date of the payment of this order",
          "type": "string",
          "format": "date-time",
          "example": "2017-04-01T13:22:01Z"
        }
      }
    },
    "orderMerchantInfo": {
      "type": "object",
      "description": "The information that concerns the merchant for this order",
      "required": [
        "merchantOrderId",
        "merchantECommerceSoftwareName",
        "merchantECommerceSoftwareVersion"
      ],
      "properties": {
        "merchantOrderId": {
          "$ref": "#/definitions/merchantOrderId"
        },
        "merchantECommerceSoftwareName": {
          "$ref": "#/definitions/ecommerceSoftwareName"
        },
        "merchantECommerceSoftwareVersion": {
          "$ref": "#/definitions/merchantECommerceSoftwareVersion"
        }
      }
    },
    "orderInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/orderMarketplaceInfo"
        },
        {
          "type": "object",
          "description": "Describe in details all informations related to an order.",
          "required": [
            "identifier",
            "generalInfo",
            "pricingInfo",
            "billingInfo",
            "shippingInfo",
            "orderItems",
            "imnInfo"
          ],
          "properties": {
            "merchantInfo": {
              "$ref": "#/definitions/orderMerchantInfo"
            },
            "imnInfo": {
              "$ref": "#/definitions/orderIMNInfo"
            }
          }
        }
      ]
    },
    "orderIMNInfo": {
      "type": "object",
      "description": "The current order change correlation identifier indicates you if there is a pending order change on the marketplace side.",
      "required": [
        "etag",
        "imnLastModificationUtcDate"
      ],
      "properties": {
        "etag": {
          "$ref": "#/definitions/orderEtag"
        },
        "imnLastModificationUtcDate": {
          "description": "The last modification UTC date done by IMN of this order",
          "format": "date-time",
          "type": "string",
          "example": "2017-04-16T10:30:23Z"
        },
        "currentOrderChangeCorrelationId": {
          "$ref": "#/definitions/correlationId"
        }
      }
    },
    "orderChangeType": {
      "type": "string",
      "x-lov": "OrderChangeBusinessOperationType",
      "example": "ship",
      "enum": [
        "Accept",
        "Refuse",
        "Ship",
        "ShipWithTrackingUrl",
        "Refund",
        "Cancel",
        "PickUp",
        "Restock"
      ]
    },
    "beezUPMerchantOffer": {
      "allOf": [
        {
          "$ref": "#/definitions/merchantOffer"
        },
        {
          "$ref": "#/definitions/beezUPMarketplaceAccountIdentifier"
        }
      ]
    },
    "beezUPMerchantOfferIdentifier": {
      "allOf": [
        {
          "$ref": "#/definitions/merchantOfferIdentifier"
        },
        {
          "$ref": "#/definitions/beezUPMarketplaceAccountIdentifier"
        }
      ]
    },
    "merchantOfferEventBase": {
      "x-exclude": true,
      "type": "object",
      "discriminator": "eventType",
      "required": [
        "eventType"
      ],
      "properties": {
        "eventType": {
          "type": "string"
        }
      }
    },
    "merchantOfferReceived": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantOfferEventBase"
        },
        {
          "$ref": "#/definitions/merchantOffer"
        }
      ]
    },
    "merchantOfferDeleted": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantOfferEventBase"
        },
        {
          "$ref": "#/definitions/merchantOfferIdentifier"
        }
      ]
    },
    "merchantOfferUnpublished": {
      "x-format": "Event",
      "allOf": [
        {
          "$ref": "#/definitions/merchantOfferEventBase"
        },
        {
          "$ref": "#/definitions/merchantOfferIdentifier"
        },
        {
          "type": "object",
          "required": [
            "reason"
          ],
          "properties": {
            "reason": {
              "$ref": "#/definitions/merchantOfferUnpublicationReasonCode"
            }
          }
        }
      ]
    },
    "merchantOfferNotImported": {
      "x-format": "Event",
      "description": "Useful for reporting to explain why this offer has not been imported. NOT USED FOR THE MOMENT.",
      "allOf": [
        {
          "$ref": "#/definitions/merchantOfferEventBase"
        },
        {
          "$ref": "#/definitions/merchantOfferIdentifier"
        },
        {
          "type": "object",
          "properties": {
            "reasons": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/merchantOfferNoneImportationReason"
              }
            }
          }
        }
      ]
    },
    "duplicateMerchantOfferOperationException": {
      "x-format": "Exception",
      "x-transient": false,
      "x-technical": false,
      "description": "Duplicate operation on an offer has been {duplicateCount} times for the merchant '{merchantCode}':\n- sku: '{sku}' \n",
      "type": "object",
      "required": [
        "merchantCode",
        "sku",
        "duplicateCount"
      ],
      "properties": {
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "sku": {
          "$ref": "#/definitions/sku"
        },
        "duplicateCount": {
          "type": "integer",
          "minimum": 2
        }
      }
    },
    "duplicateMerchantMarketplaceOfferOperationException": {
      "x-format": "Exception",
      "x-transient": false,
      "x-technical": false,
      "description": "Duplicate operation on an offer has been {duplicateCount} times for the marketplace '{marketplaceCode}' and the merchant '{merchantCode}':\n- sku: '{sku}' \n- gtin: '{gtin}'\n- itemCondition: '{itemCondition}' \n- fulfilledBy: '{fulfilledBy}'\n",
      "type": "object",
      "required": [
        "marketplaceCode",
        "merchantCode",
        "sku",
        "duplicateCount"
      ],
      "properties": {
        "marketplaceCode": {
          "$ref": "#/definitions/marketplaceCode"
        },
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "sku": {
          "$ref": "#/definitions/sku"
        },
        "duplicateCount": {
          "type": "integer",
          "minimum": 2
        }
      }
    },
    "price": {
      "x-exclude": true,
      "type": "number",
      "format": "decimal",
      "description": "The offer price of a product, or of a price component when attached to PriceSpecification and its subtypes. http://schema.org/price"
    },
    "priceCurrency": {
      "type": "string",
      "description": "The offer price of a product, or of a price component when attached to PriceSpecification and its subtypes.\nUsage guidelines:\nUse the priceCurrency property (with ISO 4217 codes e.g. USD) instead of including ambiguous symbols such as $ in the value. http://schema.org/priceCurrency\n"
    },
    "validFrom": {
      "type": "string",
      "format": "date-time",
      "description": "The date when the item becomes valid. http://schema.org/validFrom"
    },
    "validThrough": {
      "type": "string",
      "format": "date-time",
      "description": "The date after when the item is not valid. For example the end of an offer, salary period, or a period of opening hours. http://schema.org/validThrough"
    },
    "priceSpecification": {
      "type": "object",
      "properties": {
        "price": {
          "$ref": "#/definitions/price"
        },
        "validFrom": {
          "$ref": "#/definitions/validFrom"
        },
        "validThrough": {
          "$ref": "#/definitions/validThrough"
        }
      }
    },
    "minPrice": {
      "type": "number",
      "format": "decimal",
      "description": "The lowest price if the price is a range. http://schema.org/minPrice"
    },
    "deliveryLeadTime": {
      "type": "number",
      "format": "int16",
      "description": "The typical delay between the receipt of the order and the goods either leaving the warehouse or being prepared for pickup, in case the delivery method is on site pickup. http://schema.org/deliveryLeadTime"
    },
    "inventoryLevel": {
      "type": "number",
      "format": "decimal",
      "description": "The current approximate inventory level for the item or items. http://schema.org/inventoryLevel"
    },
    "fulfilledBy": {
      "type": "string",
      "description": "The marketplace in charge of the delivery on this offer."
    },
    "itemCondition": {
      "type": "string",
      "enum": [
        "NewCondition",
        "RefurbishedCondition",
        "UsedAsNewCondition",
        "UsedVeryGoodCondition",
        "UsedGoodCondition",
        "UsedAcceptableCondition"
      ]
    },
    "merchantOfferIdentifier": {
      "type": "object",
      "required": [
        "merchantCode",
        "sku"
      ],
      "properties": {
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "sku": {
          "$ref": "#/definitions/sku"
        }
      }
    },
    "merchantOfferList": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "merchantOffers": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/merchantOffer"
              }
            }
          }
        }
      ]
    },
    "merchantOfferPaginatedList": {
      "type": "object",
      "properties": {
        "paginationContinuationToken": {
          "$ref": "#/definitions/paginationContinuationToken"
        },
        "merchantOffers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/merchantOffer"
          }
        }
      }
    },
    "merchantOffer": {
      "allOf": [
        {
          "$ref": "#/definitions/merchantOfferIdentifier"
        },
        {
          "type": "object",
          "description": "The defaultDeliveryMethod is required if the deliverySpecifications is fulfilled",
          "required": [
            "merchantCode",
            "sku",
            "gtin",
            "itemCondition",
            "price",
            "priceCurrency",
            "deliveryLeadTime",
            "inventoryLevel",
            "lastUpdateUtcDate"
          ],
          "properties": {
            "gtin": {
              "$ref": "#/definitions/gtin"
            },
            "itemCondition": {
              "$ref": "#/definitions/itemCondition"
            },
            "fulfilledBy": {
              "$ref": "#/definitions/fulfilledBy"
            },
            "price": {
              "$ref": "#/definitions/price"
            },
            "priceCurrency": {
              "$ref": "#/definitions/priceCurrency"
            },
            "minPrice": {
              "$ref": "#/definitions/minPrice"
            },
            "discount": {
              "$ref": "#/definitions/priceSpecification"
            },
            "deliveryLeadTime": {
              "$ref": "#/definitions/deliveryLeadTime"
            },
            "inventoryLevel": {
              "$ref": "#/definitions/inventoryLevel"
            },
            "defaultDeliveryMethod": {
              "$ref": "#/definitions/deliveryMethod"
            },
            "deliverySpecifications": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/deliverySpecification"
              }
            },
            "lastUpdateUtcDate": {
              "type": "string",
              "format": "date-time",
              "example": "2018-02-24T14:24:35"
            },
[...]
